<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="product ">
    <ul class="product-labels"></ul>
    <div class="product-img-wrap">
      <% if service.service_images.any? %>
          <% service.service_images.each_with_index do |service_image, index|%>
              <% if index == 0 %>
                  <%= image_tag service_image.image.url(ServiceImage::DEFAULT_SIZE), class: 'img-responsive product-img-primary' %>
              <% else %>
                  <%= image_tag service_image.image.url(ServiceImage::DEFAULT_SIZE), class: 'img-responsive product-img-alt' %>
              <% end%>
          <% end %>
      <% else %>
          <%= image_tag 'theme_img/500x500.png', class: 'img-responsive product-img-primary' %>
          <%= image_tag 'theme_img/500x500.png', class: 'img-responsive product-img-alt' %>
      <% end %>
    </div>
    <a class="product-link" href="<%= service_path(service)%>"></a>
    <div class="product-caption">
      <ul class="product-caption-rating">
        <% for i in 1..5 %>
            <% if i <= service.rating %>
                <li class="rated"><i class="fa fa-star"></i></li>
            <% else %>
                <li class=""><i class="fa fa-star"></i></li>
            <% end %>
        <% end %>
      </ul>
      <h5 class="product-caption-title"><%= service.service_description %></h5>
      <div class="product-caption-price">
                    <span class="product-caption-price-new">
                      <i class="fa fa-inr"></i>
                      <%= service.per_hour_price > 0 ?  service.per_hour_price : ( service.per_day_price > 0 ?  service.per_day_price : ( service.per_week_price > 0 ?  service.per_week_price : ( service.per_month_price > 0 ?  service.per_month_price : 0 ))) %>
                    </span>
      </div>
    </div>
  </div>
</div>