<div class="container">
  <header class="page-header">
    <h1 class="page-title"><%#= @service.name.capitalize %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="#"><%= @service.subcategory.category.name %></a></li>
      <li><a href="#"><%= @service.subcategory.name %></a></li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-5">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <% if @service.service_images.any? %>
              <a href="<%= @service.service_images.first.image(:size_500x500) %>" id="jqzoom" data-rel="gal-1">
                <%= image_tag @service.service_images.first.image(:size_500x500), class: 'img-responsive' %>
              </a>
          <% else %>
              <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
              </a>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row" data-gutter="10">
        <div class="col-md-8">
          <div class="box">
            <p class="product-page-desc"><%= @service.service_description %></p>
            <ul class="product-page-product-rating">
              <% for i in 1..5 %>
                  <% if i <= @service.rating %>
                      <li class="rated"><i class="fa fa-star"></i></li>
                  <% else %>
                      <li class=""><i class="fa fa-star"></i></li>
                  <% end %>
              <% end %>
            </ul>
            <table
            class="table table-striped product-page-features-table">
              <tbody>
              <% if  @service.subcategory.name == 'Others'%>
                  <tr>
                    <td>Nature of service: <%= @service.nature_of_service %></td>
                  </tr>
              <% end %>
              <% if  @service.subcategory.category.name == 'Membership'%>
                  <tr>
                    <td>Club name: <%= @service.club_name %></td>
                  </tr>
                  <tr>
                    <td>Membership plan: <%= @service.membership_plan %></td>
                  </tr>
                  <tr>
                    <td>Start from: <%= @service.start_at.strftime(time_format) %></td>
                  </tr>
                  <tr>
                    <td>End from: <%= @service.end_at.strftime(time_format) %></td>
                  </tr>
              <% end %>
              <% if @service.subcategory.category.name == 'Commercial Space' %>
                  <tr>
                    <td>Area in meters: <%= @service.area_in_meters %></td>
                  </tr>
                  <tr>
                    <td>Amenities available: <%= @service.amenities_available %></td>
                  </tr>
              <% end %>
              <tr>
                <td>State: <%= @service.state.name %></td>
              </tr>
              <tr>
                <td>City: <%= @service.city.name %></td>
              </tr>
              <tr>
                <td>Location: <%= @service.location %></td>
              </tr>
              <tr>
                <td>Price: <%= @service.price_type %></td>
              </tr>
              <tr>
                <td>Youtube: <%= @service.youtube_link %></td>
              </tr>
              <tr>
                <td>Other: <%= @service.other %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-highlight">
            <p class="product-page-price">₹<%= @service.price_in_rupees %></p>
            <% if current_user.present? %>
                <a class="btn btn-block btn-primary" style="margin-top: 10px" href="<%= new_service_enquiry_path(@service) %>">Enquire</a>
            <% else %>
                <a class="btn btn-block btn-primary popup-text" style="margin-top: 10px" data-effect="mfp-move-from-top" href="#nav-login-dialog">Enquire</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
