<div class="container">
  <header class="page-header">
    <h1 class="page-title"><%#= @service.name.capitalize %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="#"><%= @service.subcategory.category.name %></a></li>
      <li><a href="#"><%= @service.subcategory.name %></a></li>
      <!--<li><a href="#">Cell Phones</a>-->
      <!--</li>-->
      <!--<li><a href="#">Sony</a>-->
      <!--</li>-->
      <!--<li class="active">XPERIA Z Ultra 16GB</li>-->
    </ol>
  </header>
  <div class="row">
    <div class="col-md-5">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <a href="theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
            <%= image_tag 'theme_img/500x500.png', class: 'img-responsive' %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row" data-gutter="10">
        <div class="col-md-8">
          <div class="box">
            <ul class="product-page-product-rating">
              <li class="rated"><i class="fa fa-star"></i></li>
              <li class="rated"><i class="fa fa-star"></i></li>
              <li class="rated"><i class="fa fa-star"></i></li>
              <li class="rated"><i class="fa fa-star"></i></li>
              <li class="rated"><i class="fa fa-star"></i></li>
            </ul>
            <!--<p class="product-page-product-rating-sign"><a href="#">238 customer reviews</a></p>-->
            <p class="product-page-desc"><%= @service.service_description %></p>
            <table
            class="table table-striped product-page-features-table">
              <tbody>
              <tr>
                <td>Nature of service: <%= @service.nature_of_service %></td>
              </tr>
              <tr>
                <td>Club name: <%= @service.club_name %></td>
              </tr>
              <tr>
                <td>Membership plan: <%= @service.membership_plan %></td>
              </tr>
              <tr>
                <td>Start from: <%= @service.start_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>End from: <%= @service.end_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>State: <%= @service.state.name %></td>
              </tr>
              <tr>
                <td>City: <%= @service.city.name %></td>
              </tr>
              <tr>
                <td>Location: <%= @service.location %></td>
              </tr>
              <tr>
                <td>Price: <%= @service.price_type %></td>
              </tr>
              <tr>
                <td>Youtube: <%= @service.youtube_link %></td>
              </tr>
              <tr>
                <td>Other: <%= @service.other %></td>
              </tr>
              <tr>
                <td>Area in meters: <%= @service.area_in_meters %></td>
              </tr>
              <tr>
                <td>Amenities available: <%= @service.amenities_available %></td>
              </tr>
              <tr>
                <td>Price in rupees: <%= @service.price_in_rupees %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-highlight">
            <!--<p class="product-page-price-list"><%#= @service.price_in_rupees %></p>-->
            <p class="product-page-price">₹<%= @service.price_in_rupees %></p>
            <% if current_user.present? %>
                <a class="btn btn-block btn-primary" style="margin-top: 10px" href="<%= new_service_enquiry_path(@service) %>">Enquire</a>
            <% else %>
                <a class="btn btn-block btn-primary popup-text" style="margin-top: 10px" data-effect="mfp-move-from-top" href="#nav-login-dialog">Enquire</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
