<div class="container">
  <header class="page-header">
    <h1 class="page-title"><%#= @service.name %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="<%= category_path(@service.subcategory.category)%>"><%= @service.subcategory.category.name %></a></li>
      <li><a href="<%= subcategory_path(@service.subcategory)%>"><%= @service.subcategory.name %></a></li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-5">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <% if @service.service_images.any? %>
              <a href="<%= @service.service_images.first.image(:original) %>" id="jqzoom" data-rel="gal-1">
                <%= image_tag @service.service_images.first.image(:size_500x500), class: 'img-responsive' %>
              </a>
          <% else %>
              <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
              </a>
          <%end%>
        </div>
      </div>
      <% if @service.service_images.any? %>
          <ul class="jqzoom-list">
            <% @service.service_images.each_with_index do |service_image, index| %>
                <li>
                  <a class="<%= index == 0 ? 'zoomThumbActive' : '' %>" href="javascript:void(0)" data-rel=<%="{gallery:'gal-1',smallimage:'#{service_image.image(:size_500x500)}',largeimage:'#{service_image.image(:original)}'}" %>>
                    <%= image_tag service_image.image(:size_500x500), class: 'img-responsive' %>
                  </a>
                </li>
            <% end %>
          </ul>
      <% else %>
          <!-- DO Nothing-->
      <% end %>
    </div>
    <div class="col-md-7">
      <div class="row" data-gutter="10">
        <div class="col-md-8">
          <div class="box min-box-height">
            <ul class="product-page-product-rating">
              <% for i in 1..5 %>
                  <% if i <= @service.rating %>
                      <li class="rated"><i class="fa fa-star"></i></li>
                  <% else %>
                      <li class=""><i class="fa fa-star"></i></li>
                  <% end %>
              <% end %>
            </ul>
            <p class="product-page-desc"><%= @service.service_description.present? ? @service.service_description : 'NA' %></p>
            <table
            class="table table-striped product-page-features-table">
              <tbody>
              <% if  @service.subcategory.name == 'Others'%>
                  <tr>
                    <td>Nature of service: <%= @service.nature_of_service.present? ? @service.nature_of_service : 'NA' %></td>
                  </tr>
              <% end %>
              <% if  @service.subcategory.category.name == 'Membership'%>
                  <tr>
                    <td>Club name: <%= @service.club_name.present? ? @service.club_name : 'NA' %></td>
                  </tr>
                  <tr>
                    <td>Membership plan: <%= @service.membership_plan.present? ? @service.membership_plan : 'NA' %></td>
                  </tr>
                  <tr>
                    <td>Start from: <%= @service.start_at.strftime(time_format).present? ? @service.start_at.strftime(time_format) : 'NA' %></td>
                  </tr>
                  <tr>
                    <td>End at: <%= @service.end_at.strftime(time_format).present? ? @service.end_at.strftime(time_format) : 'NA' %></td>
                  </tr>
              <% end %>
              <% if @service.subcategory.category.name == 'Commercial Space' %>
                  <tr>
                    <td>Area in meters: <%= @service.area_in_meters.present? ? @service.area_in_meters : 'NA'%></td>
                  </tr>
                  <tr>
                    <td>Amenities available: <%= @service.amenities_available.present? ? @service.amenities_available : 'NA' %></td>
                  </tr>
              <% end %>
              <tr>
                <td>State: <%= @service.state.name.present? ? @service.state.name : 'NA' %></td>
              </tr>
              <tr>
                <td>City: <%= @service.city.name.present? ? @service.city.name : 'NA' %></td>
              </tr>
              <tr>
                <td>Location: <%= @service.location.present? ? @service.location : 'NA' %></td>
              </tr>
              <!--<tr>-->
                <!--<td>Price: <%#= @service.price_type %></td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Price: <%#= @service.per_hour_price %></td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Price: <%#= @service.per_day_price %></td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Price: <%#= @service.per_week_price %></td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Price: <%#= @service.per_month_price %></td>-->
              <!--</tr>-->

              <tr>
                <td>Youtube:
                  <%if @service.youtube_link.present? %>
                      <a href="<%= @service.youtube_link %>" target="_blank">
                        <%= @service.youtube_link %>
                      </a>
                  <% else %>
                      NA
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Other: <%= @service.other.present? ? @service.other : 'NA' %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-highlight side-small-box">
            <!--<p class="product-page-price">₹<%#= @service.price_in_rupees %></p>-->
            <p class="product-page-price time-price">
              <%if @service.per_hour_price > 0 %>
                  ₹<%= @service.per_hour_price %>/ <span class="pull-right">hr</span>
              <% end %>
            </p>
            <p class="product-page-price time-price">
              <%if @service.per_day_price > 0 %>
                  ₹<%= @service.per_day_price %>/ <span class="pull-right">day</span>
              <% end %>
            </p>
            <p class="product-page-price time-price">
              <%if @service.per_week_price > 0 %>
                  ₹<%= @service.per_week_price %>/ <span class="pull-right">week</span>
              <% end %>
            </p>
            <p class="product-page-price time-price">
              <%if @service.per_month_price > 0 %>
                  ₹<%= @service.per_month_price %>/ <span class="pull-right">month</span>
              <% end %>
            </p>

            <p class="product-page-price time-price">
              <%if @service.per_hour_price < 1 and @service.per_day_price < 1 and @service.per_week_price < 1 and @service.per_month_price < 1 %>
                  ₹ 0
              <% end %>
            </p>
            <!--<p class="product-page-price time-price">₹ <%#= @service.per_hour_price > 0 ?  "#{@service.per_hour_price}/Hour " : ( @service.per_day_price > 0 ?  "#{@service.per_day_price}/Day" : ( @service.per_week_price > 0 ? "#{@service.per_week_price}/Week" : ( @service.per_month_price > 0 ?  "#{@service.per_month_price}/Month" : 0 ))) %></p>-->

            <% if current_user.present? %>
                <% if current_user.id == @service.user.id %>
                    <a class="btn btn-block btn-success" style="margin-top: 10px" href="javascript:void(0);" %>Your Service</a>
                <% else %>
                    <a class="btn btn-block btn-primary" style="margin-top: 10px" href="<%= new_service_enquiry_path(@service) %>">Enquire</a>
                <% end %>
                <%= link_to 'Add to wishlist', wish_list_user_path(current_user, is_product: false, wish_id: @service.id), method: :put , class: 'btn btn-block btn-primary', style: 'margin-top: 10px;' unless current_user.wish_list.detect{|i| i == "0-#{@service.id}"}.present?%>

            <% else %>
                <a class="btn btn-block btn-primary popup-text" style="margin-top: 10px" data-effect="mfp-move-from-top" href="#nav-login-dialog">Enquire</a>
            <% end %>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Share This Item</h5>
              <% if @service.service_images.any? %>
                  <%= social_share_button_tag(@service.service_description, image: "#{root_path}#{@service.service_images.first.image(:size_500x500)}") %>
              <% else %>
                  <%= social_share_button_tag(@service.service_description, image: 'theme_img/500x500.png') %>
              <% end %>
              <!--<ul class="product-page-share-item">-->
                <!--<li>-->
                  <!--<a class="fa fa-facebook" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-twitter" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-pinterest" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-instagram" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-google-plus" href="#"></a>-->
                <!--</li>-->
              <!--</ul>-->
            </div>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title"><%= @service.user.name %></h5>
              <p>
                  <ul class="product-caption-rating">
                    <% for i in 1..5 %>
                        <% if i <= @service.rating %>
                            <li class="rated"><i class="fa fa-star"></i></li>
                        <% else %>
                            <li class=""><i class="fa fa-star"></i></li>
                        <% end %>
                    <% end %>
                  </ul>
              </p>
              <!--<p class="product-page-side-text">In the store of your choice in 3-5 working days</p>-->
              <!--<p class="product-page-side-text">STANDARD 4.95 USD FREE (ORDERS OVER 50 USD) In 2-4 working days*</p>-->
              <!--<p class="product-page-side-text">EXPRESS 9.95 USD In 24-48 hours (working days)*</p>-->
              <!--<p class="product-page-side-text">* Except remote areas</p>-->
              <!--<p class="product-page-side-text">You have one month from the shipping confirmation email.</p>-->
            </div>
          </div>
          <%= link_to 'View all Post of this seller', all_user_path(@service.user_id), class: 'btn seller_post_button btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>

<div class="container">
  <div class="tabbable product-tabs">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#tab-1" data-toggle="tab">Description</a>
      </li>
      <li><a href="#tab-2" data-toggle="tab">Additional Information</a>
      </li>
      <li><a href="#tab-3" data-toggle="tab">Rating and Reviews</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab-1">
        <p>
          <%= @service.service_description.present? ? @service.service_description : 'NA' %>
        </p>
      </div>
      <div class="tab-pane fade" id="tab-2">
        <table class="table">
          <tbody>
          <tr>
            <td>Youtube Link:</td>
            <td>
              <%if @service.youtube_link.present? %>
                  <a href="<%= @service.youtube_link %>" target="_blank">
                    <%= @service.youtube_link %>
                  </a>
              <% else %>
                  NA
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Other:</td>
            <td><%= @service.other.present? ? @service.other : 'NA' %></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="tab-3">
        <div class="row">
          <div class="col-md-8">
            <% if @ratings.present? %>
                <% @ratings.each do |rating| %>
                    <article class="product-review">
                      <div class="product-review-content-full">
                        <h5 class="product-review-title">
                          <%= rating.title %>
                        </h5>
                        <ul class="product-page-product-rating">
                          <% for i in 1..5 %>
                              <% if i <= rating.number %>
                                  <li class="rated"><i class="fa fa-star"></i></li>
                              <% else %>
                                  <li class=""><i class="fa fa-star"></i></li>
                              <% end %>
                          <% end %>
                        </ul>
                        <p class="product-review-meta">by <%= rating.user_name %> on <%= rating.created_at.strftime("%d/%m/%Y %I:%M %p") %></p>
                        <p class="product-review-body"><%= rating.feedback %></p>
                        <% if rating.recommand == true %>
                            <p class="text-success"><strong><i class="fa fa-check"></i> I would recommend this to a friend!</strong></p>
                        <% else %>
                            <p class="text-danger"><strong><i class="fa fa-close"></i> No, I would not recommend this to a friend.</strong></p>
                        <% end %>
                      </div>
                    </article>
                <% end %>
            <% else %>
                <div class="gap"></div>
                <p class="text-center">No Review has been given till now.</p>
            <% end %>
          </div>
          <div class="col-md-4">
            <h3 class="product-tab-rating-title">Overall Customer Rating:</h3>
            <ul class="product-page-product-rating product-rating-big">
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="count">
                <%= @service.average_rating.present? ? @service.average_rating.round(1) : '0.0' %>
              </li>
            </ul><small><%= @service.customer_review.present? ?  @service.customer_review : '0' %> customer reviews</small>
            <p><strong><%= @service.recommand_count > 0 ? ((@service.recommand_count * 100) / @service.customer_review > 0 ? @service.customer_review : 1) : '0' %>%</strong> of reviewers would recommend this product</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
