<%= simple_form_for [:admin, @subcategory] do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :category_id, collection: category_for_collection, prompt: 'Select Category' %>
        <%= f.input :male, label: 'For male', as: :boolean  %>
        <%= f.input :female, label: 'For female', as: :boolean  %>
        <%= f.input :subcategory_type, collection: ['Product', 'Service', 'Membership', 'Commercial Space'], prompt: 'Select type'%>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>