<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li>
        <%= link_to 'Add SubCategory', new_admin_subcategory_path, class: 'btn btn-primary' %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 container">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Name</th>
        <th>Category</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <% @subcategories.each do |subcategory| %>
          <tr>
            <td><%= subcategory.name %></td>
            <td><%= subcategory.category.name if subcategory.category.present? %></td>
            <td><%= subcategory.subcategory_type %></td>
            <td>
              <%= link_to edit_admin_subcategory_path(subcategory) do %>
                  <i class="fa fa-edit"></i>
              <% end %>
            </td>
          </tr>
      <%- end %>
    </table>
  </div>
</div>

<%= will_paginate @subcategories %>