<div class="">
  <header class="page-header">
    <h1 class="page-title"><%= @service.service_description %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="#"><%= @service.subcategory.category.name %></a></li>
      <li><a href="#"><%= @service.subcategory.name %></a></li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
            <%if @service.service_images.any? %>
                <% @service.service_images.each do |service_image| %>
                <span class="img-con">
                  <%= image_tag service_image.image.url(ServiceImage::DEFAULT_SIZE), class: 'upload-img img-responsive' %>
                  <% if service_image.id.present? %>
                      <%= link_to customer_service_service_image_path(@service, service_image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
                          <i class="fa fa-times cross-icon"></i>
                      <%- end %>
                  <%- end %>
                </span>
                <%- end %>
            <% else %>
                <%= image_tag 'theme_img/500x500.png', class: 'img-responsive' %>
            <% end %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
      <div class="row" data-gutter="10">
        <div class="col-md-8">
          <div class="box">
            <!--<p class="product-page-product-rating-sign"><a href="#">238 customer reviews</a></p>-->
            <p class="product-page-desc"><%= @service.service_description %></p>
            <table
            class="table table-striped product-page-features-table">
              <tbody>

              <tr>
                <td>Per hour price: <%= @service.per_hour_price %></td>
              </tr>
              <tr>
                <td>Per day price: <%= @service.per_day_price %></td>
              </tr>
              <tr>
                <td>Per week price: <%= @service.per_week_price %></td>
              </tr>
              <tr>
                <td>Per month price: <%= @service.per_month_price %></td>
              </tr>

              <tr>
                <td>Nature of service: <%= @service.nature_of_service %></td>
              </tr>
              <tr>
                <td>Club name: <%= @service.club_name %></td>
              </tr>
              <tr>
                <td>Membership plan: <%= @service.membership_plan %></td>
              </tr>
              <tr>
                <td>Start from: <%= @service.start_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>End from: <%= @service.end_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>State: <%= @service.state.name %></td>
              </tr>
              <tr>
                <td>City: <%= @service.city.name %></td>
              </tr>
              <tr>
                <td>Location: <%= @service.location %></td>
              </tr>

              <tr>
                <td>Youtube: <%= @service.youtube_link %></td>
              </tr>
              <tr>
                <td>Other: <%= @service.other %></td>
              </tr>
              <tr>
                <td>Area in meters: <%= @service.area_in_meters %></td>
              </tr>
              <tr>
                <td>Amenities available: <%= @service.amenities_available %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <%= form_tag update_rating_admin_service_path(@service), method: :put do %>
              <%= select_tag :rating, options_for_select([1,2,3,4,5],  @service.rating), class: 'form-control'%>
              <%= submit_tag 'Save', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
