<div id="calendar"></div>

<style>
    #calendar {
        max-width: 900px;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }
</style>

<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            displayEventTime: false,
            defaultDate: "<%= DateTime.now %>",
//            editable: true,
            eventLimit: true, // allow "more" link when too many events
//            eventColor: 'red',
            events: [
                <%# @advertisements.each do |advertisement| %>
//                {
//                    title: "<%#= advertisement.title %>",
//                    start: "<%#= advertisement.start_at %>",
//                    end: "<%#= advertisement.end_at %>",
//                    description: "<%#= advertisement.description %>",
//                    color: "red",
//                    url: "<%#= customer_advertisement_path(advertisement) %>"
//                },
                <%# end %>
                <% if @enquiries[:product_enquiries].any? %>
                <% @enquiries[:product_enquiries].each do |product_enquiry| %>
                {
                    title: "<%= product_enquiry.product.name %>",
                    start: "<%= product_enquiry.start_at.utc %>",
                    end: "<%= product_enquiry.end_at %>",
                    description: "<%= product_enquiry.expected_price %>",
                    color: "#0fa688",
                    url: "<%= customer_enquiry_path(product_enquiry) %>"
                },
                <% end %>
                <% end %>
                <% if @enquiries[:service_enquiries].any? %>
                <% @enquiries[:service_enquiries].each do |service_enquiry| %>
                {
                    title: "<%= service_enquiry.service.service_description %>",
                    start: "<%= service_enquiry.start_at %>",
                    end: "<%= service_enquiry.end_at %>",
                    description: "<%= service_enquiry.expected_price %>",
                    color: "#ff8e18",
                    url: "<%= customer_enquiry_path(service_enquiry) %>"
                },
                <% end %>
                <% end %>
            ]
        });

    });
</script>