<div class="customer-main-con">
    <h1 class="page-title">
      Dashboard
    </h1>
  <div class="col-sm-10">
    <div id="calendar"></div>
  </div>
  <div class="col-sm-2">
    <div class="color-code-con">
      <h4>Defined Color</h4>
      <div class="color-code"><span class="defined_color red-color"></span> Product</div>
      <div class="color-code"><span class="defined_color skyblue-color"></span> Service</div>
      <div class="color-code"><span class="defined_color purpul-color"></span> Enquired Product/Service</div>
      <div class="color-code"><span class="defined_color orienge-color"></span> Quoted Product/Service</div>
      <div class="color-code"><span class="defined_color green-color"></span> Confirmed Product/Service</div>
      <!--<div class="color-code"><span class="defined_color blue-color"></span> Cancelled</div>-->
    </div>
  </div>
</div>
<style>
    #calendar {
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }
</style>

<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            displayEventTime: false,
            defaultDate: "<%= DateTime.now %>",
//            ignoreTimezone: true,
//            editable: true,
            eventLimit: true, // allow "more" link when too many events
//            eventColor: 'red',
            events: [
                <%# @headers.each do |header| %>
//                {
//                    title: "<%#= header.title %>",
//                    start: "<%#= header.start_at %>",
//                    end: "<%#= header.end_at %>",
//                    description: "<%#= header.description %>",
//                    color: "red",
//                    url: "<%#= customer_header_path(header) %>"
//                },
                <%# end %>
                <% @products.each do |product| %>
                {
                    title: "<%= product.name %>",
                    start: "<%= product.start_at %>",
                    end: "<%= product.end_at %>",
                    description: "<%= product.subcategory.name %>",
                    color: "rgba(149, 55, 53, 1)",
                    url: "<%= customer_product_path(product) %>"
                },
                <% end %>
                <% @services.each do |service| %>
                {
                    title: "<%= service.service_description %>",
                    start: "<%= service.start_at %>",
                    end: "<%= service.end_at %>",
                    description: "<%= service.subcategory.name %>",
                    color: "rgba(75, 172, 198, 1)",
                    url: "<%= customer_service_path(service) %>"
                },
                <% end %>
                <% if @enquiries[:product_enquiries].any? %>
                <% @enquiries[:product_enquiries].each do |product_enquiry| %>
                <% if product_enquiry.status != 'Cancelled' %>
                {
                    title: "<%= product_enquiry.product.name %>",
                    start: "<%= product_enquiry.start_at %>",
                    end: "<%= product_enquiry.end_at %>",
                    description: "<%= product_enquiry.expected_price %>",
                    color: "<%= case product_enquiry.status
                    when 'Confirmed'
                      'rgba(155, 187, 89, 1)'
                    when 'Quoted'
                      'rgba(247, 150, 70, 1)'
                    else
                      'rgba(128, 100, 162, 1)'
                    end
                     # "#0fa688"
                    %>",
                    url: "<%= customer_enquiry_path(product_enquiry) %>",
                    currentTimezone: 'India/Mumbai'
                },
                <% end %>
                <% end %>
                <% end %>
                <% if @enquiries[:service_enquiries].any? %>
                <% @enquiries[:service_enquiries].each do |service_enquiry| %>
                <% if service_enquiry.status != 'Cancelled' %>
                {
                    title: "<%= service_enquiry.service.service_description %>",
                    start: "<%= service_enquiry.start_at %>",
                    end: "<%= service_enquiry.end_at %>",
                    description: "<%= service_enquiry.expected_price %>",
                    color: "<%= case service_enquiry.status
                    when 'Confirmed'
                      'rgba(155, 187, 89, 1)'
                    when 'Quoted'
                      'rgba(247, 150, 70, 1)'
                    else
                      'rgba(128, 100, 162, 1)'
                    end
                     # "#0fa688"
                    %>",
//                    color: "#ff8e18",
                    url: "<%= customer_enquiry_path(service_enquiry) %>"
                },
                <% end %>
                <% end %>
                <% end %>
            ]
        });

    });
</script>