<div id="calendar"></div>

<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            defaultDate: "<%= DateTime.now %>",
//            editable: true,
            eventLimit: true, // allow "more" link when too many events
//            eventColor: 'red',
            events: [
                <% @advertisements.each do |advertisement| %>
                {
                    title: "<%= advertisement.title %>",
                    start: "<%= advertisement.start_at %>",
                    end: "<%= advertisement.end_at %>",
                    description: "<%= advertisement.description %>",
//                    color: "red",
                    url: "<%= customer_advertisement_path(advertisement) %>"
                },
                <% end %>
            ]
        });

    });
</script>