<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="mfp-dialog clearfix" id="nav-login-dialog">
      <h3 class="widget-title">Login</h3>
      <p>Welcome, Login to get started</p>
      <hr />
      <%= form_tag customer_sign_in_path do %>
        <div class="form-group">
          <%#= label_tag :email %>
          <%#= email_field_tag :email, params[:email], class: 'form-control' %>
          <%= label_tag :contact %>
          <%= number_field_tag :contact, params[:contact], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, '',class: 'form-control' %>
        </div>
          <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
      <%- end %>
      <div class="gap gap-small"></div>
      <ul class="list-inline">
        <li>
          <%= link_to 'Register Here', customer_step_one_path, class: 'popup-text' %>
        </li>
        <li>
          <%= link_to 'Forget Password', class: 'popup-text' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
