<div class="row otp-min-height">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="mfp-dialog clearfix" id="nav-login-dialog">
			<h3 class="widget-title">OTP</h3>
			<p>Enter OTP for Registration</p>
			<hr />
			<%= form_tag customer_step_three_path, method: :post  do %>
				<div class="form-group">
					<%= text_field_tag :otp, "", class: 'form-control' %>
				</div>
				<%= hidden_field_tag 'phone', @phone %>
				<%= submit_tag 'Proceed', class: 'btn btn-primary' %>
				<div class="gap gap-small"></div>
			      <ul class="list-inline">
			        <li>
			        	<p style="font-size: 12px; color: #888;">Click on Send OTP to receive 4 digit verification code on your register mobile number.</p> 
			        	<a href="javascript:void(0)" class="popup-text sending-otp">Send OTP</a>
			      </ul>
				<!-- <div class=" btn btn-info "></div> -->
			<% end %>			
		</div>		
	</div>
</div>

<%#= form_tag customer_step_three_path, method: :post  do %>
     <%#= text_field_tag :otp %>
    <!-- <div class=" btn btn-info sending-otp">Send OTP</div> -->
    <%#= hidden_field_tag 'phone', @phone %>
    <%#= submit_tag 'Proceed' %>
<%# end %>

<script type="text/javascript" charset="utf-8">

    $(document).ready ( function(){
        $(".sending-otp").click(function(){
            $.get("http://bhashsms.com/api/sendmsg.php?user=ravikataria&pass=123&sender=BYEBUY&phone="+ <%= @phone %> +"&text= Your OTP is "+ <%=@otp%> +"&priority=ndnd& stype=normal", function(data, status){});
        });
    });

</script>