<div class="profile-page-con">
  <div class="mfp-dialog profile-white-con clearfix" id="nav-login-dialog">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="img-section">
        <% if @customer.image.present? %>
            <%= image_tag @customer.image(:size_250x250), class: 'img-responsive' %>
            <%= link_to 'Remove Image', '/customer/profile_image', method: :delete, data: { message: 'Are you sure?' }, style: 'z-index: 9; position: relative;' %>
            <%#= link_to 'Remove', 'profile_image', method: :delete, data: {confirm: "Are you sure?"}  %>
        <% else %>
            <%= image_tag "theme_img/no-photo.png", class: 'img-responsive' %>
        <% end %>
        <%= form_tag customer_update_profile_image_path, class: 'upload-form', method: :put, multipart: true do %>
            <%= file_field_tag :image, accept:'image/*', class: 'upload-img' %>
            <%= submit_tag("upload", class: "upload-btn") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12 user-profile">
      <span class="edit-profile-btn"><i class="fa fa-edit email-edit-icon"></i></span>
      <div class="product-detail">
        <h4>Name:</h4>
        <p><%= @customer.name%></p>
      </div>
      <div class="product-detail">
        <h4>Email:</h4>
        <p><%= @customer.email%></p>
      </div>
      <div class="product-detail">
        <h4>Mobile Number:</h4>
        <p class="mobile-number">
          <%= @customer.contact%>
          <!--<i class="fa fa-edit edit-icon" style="cursor: pointer;"></i>-->
        </p>
        <%= form_tag customer_change_mobile_path, class: 'mobile-form', method: :put do %>
            <%= text_field_tag :contact, "", required: true %>
            <%= submit_tag("update", class: "btn btn-primary update-phn-btn") %>
        <% end %>
      </div>
      <div class="text-right">
        <!--<a href="javascript:void(0)" class="change-btn">Change Password</a>-->
        <a href="#change_password" class="popup-text login-nav-button">Change Password</a>
      </div>
    </div>

    <!--=======Edit Profile=============-->

    <div class="col-md-9 col-sm-8 col-xs-12 edit-user-profile" style="display: none;">
      <span class="cross-profile-btn"><i class="fa fa-times email-edit-icon"></i></span>
      <%= form_for @customer, url: customer_edit_profile_path, method: :post   do |f| %>
          <div class="product-detail">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <h4>Name:</h4>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p><%= f.text_field :name, class: 'edit-profile-text' %></p>
              </div>
            </div>
          </div>
          <div class="product-detail">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <h4>Email:</h4>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p><%= f.text_field :email, class: 'edit-profile-text' %></p>
              </div>
            </div>
          </div>
          <div class="gap-small"></div>
          <%= f.submit 'Save', class: "btn btn-primary update-phn-btn" %>
      <% end %>
    </div>
    <!--======================-->

    <div class="col-xs-12">
      <div class="text-center">
        <!--<a href="javascript:void(0)" class="change-btn">Change Password</a>-->
        <%= form_tag customer_change_password__path, class: 'change-form', method: :put do %>
            <%= password_field_tag :password, "", class: 'pass-textfield' %>
            <%= submit_tag("update", class: "btn btn-primary chg-pwd-submit") %>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!--Change Password Form Start-->
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="change_password">
  <h3 class="widget-title">Update Password</h3>
  <hr />
  <span class="msg-change-password-validation text-danger"></span>
  <div class="form-group">
    New Password: <input type="password" class="form-control rgr-frm-pwd1">
  </div>
  <div class="form-group">
    Confirm Password: <input type="password" class="form-control rgr-frm-pwd2">
  </div>
  <span class="btn btn-primary btn-submit-chg-pwd">Submit</span>

  <div class="gap gap-small"></div>
</div>
<!--Login Form End-->

<script type="text/javascript">
    $(document).ready(function(){
        $('.change-form').css('display', 'none');
        $('.mobile-form').css('display', 'none');

        $('.change-btn').click(function(){
            $('.change-form').css('display', 'block');
            $('.change-btn').css('display', 'none');
        });
        $('.change-submit').click(function(){
            $('.change-form').css('display', 'none');
            $('.change-btn').css('display', 'block');
        });
        $('.edit-icon').click(function(){
            $('.mobile-form').css('display', 'block');
            $('.mobile-number').css('display', 'none');
        });
//        $('.update-phn-btn').click(function(){
//            $('.mobile-form').css('display', 'block');
//            $('.mobile-number').css('display', 'none');
//        });
        $('.upload-img').change(function(){
            $('.upload-btn').click();
        });

        $('.btn-submit-chg-pwd').click(function(){
            if ($('.rgr-frm-pwd1').val().length > 7){
                if ($('.rgr-frm-pwd1').val() == $('.rgr-frm-pwd2').val()){
                    var password = $('.rgr-frm-pwd1').val();
                    $('.pass-textfield').val(password);
                    $(".chg-pwd-submit").trigger("click");

                }
                else{
                    $('.msg-change-password-validation').text("Password doesn't match.")
                }
            }
            else{
                $('.msg-change-password-validation').text('Password is too short (minimum is 8 characters)')
            }
        });

        $('.edit-profile-btn').click(function(){
            $(this).hide();
            $('.cross-profile-btn').show();
            $('.edit-user-profile').toggle();
            $('.user-profile').toggle();
        });
        $('.cross-profile-btn').click(function(){
            $(this).hide();
            $('.edit-profile-btn').show();
            $('.edit-user-profile').toggle();
            $('.user-profile').toggle();
        });

    });
</script>