<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <fieldset>
      <legend>Register</legend>
      <%= simple_form_for :customer, :url => customer_sign_up_path do |f| %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
          <%= link_to 'Sign in', customer_path, class: 'btn btn-success' %>
      <%- end %>
    </fieldset>
  </div>
  <div class="col-sm-4"></div>
</div>