<div class="customer-main-con">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title">My Wish List</h1>
      <div class="customer-main-show">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#products">Products(<%=@products.count%>)</a></li>
          <li><a data-toggle="tab" href="#services">Services(<%=@services.count%>)</a></li>
        </ul>
        <div class="tab-content">
          <div id="products" class="tab-pane fade in active">
            <%if @products.any? %>
                <% @products.each do |product|%>
                    <a class="target-1-<%=product.id%>" href="<%= product_path(product)%>">
                      <div class="white-bg ">
                        <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                          <div class="add-image-con">
                            <% if product.product_images.any? %>
                                <%= image_tag product.product_images.first.image(:size_500x500), class: 'img-responsive' %>
                            <% else %>
                                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                          <h2 class="heading"><%= product.name.capitalize %></h2>
                          <h5 class="time-option"><%= product.start_at.strftime(time_format) %> - <%= product.end_at.strftime(time_format) %></h5>
                          <p class="description"><%= product.description %></p>
                        </div>
                        <!--<div class="remove_wish" wish-id="<%#="1-#{product.id}"%>">Remove</div>-->
                        <a href="/customer/remove_wishlist?wish_id=<%="1-#{product.id}"%>">Remove</a>
                        <%#= link_to('Remove', '') %>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                <% end %>
            <% else %>
                <div class="gap"></div>
                <h2 class="text-center">No Wishlist Product Available</h2>
            <% end %>
          </div>
          <div id="services" class="tab-pane fade">
            <%if @services.any? %>
                <% @services.each do |service|%>
                    <a class="target-0-<%=product.id%>" href="<%= service_path(service)%>">
                      <div class="white-bg">
                        <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                          <div class="add-image-con">
                            <% if service.service_images.any? %>
                                <%= image_tag service.service_images.first.image(:size_500x500), class: 'img-responsive' %>
                            <% else %>
                                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                          <h2 class="heading"><%= service.service_description %></h2>
                          <h5 class="time-option"><%= service.start_at.strftime(time_format) %> - <%= service.end_at.strftime(time_format) %></h5>
                          <p class="description"><%= service.subcategory.category.name %></p>
                        </div>
                        <!--<span class="remove_wish" wish-id="<%#="0-#{service.id}"%>"></span>-->
                        <a href="/customer/remove_wishlist?wish_id=<%="0-#{service.id}"%>">Remove</a>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                <% end %>
            <% else %>
                <div class="gap"></div>
                <h2 class="text-center">No Wishlist Service Available</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


