<div class="row">
  <div class="col-sm-9">
    <%= link_to 'Edit', edit_admin_advertisement_path(@advertisement), class: 'btn btn-primary' %>
    <%= link_to 'Delete', admin_advertisement_path(@advertisement), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
    <br>
    <br>
    <% if @advertisement.admin_verified? %>
        <span class="text-success">Verified by admin</span>
        <%= link_to( 'Un-verify' , admin_approve_admin_advertisement_path(@advertisement, admin_verified: false), method: :put, class: 'btn btn-danger') %>
    <%- else %>
        <span class="text-danger">Not verified</span>
        <%= link_to( 'Verify' , admin_approve_admin_advertisement_path(@advertisement, admin_verified: true), method: :put, class: 'btn btn-success') %>
    <%- end %>

    <dl>
      <dt>Title</dt><dd><%= @advertisement.title %></dd>
      <dt>Description</dt><dd><%= @advertisement.description %></dd>
      <dt>Start at</dt><dd><%= @advertisement.start_at.strftime(time_format) %></dd>
      <dt>End at</dt><dd><%= @advertisement.end_at.strftime(time_format) %></dd>
      <dt>Per hour cost</dt><dd><%= @advertisement.per_hour_cost %></dd>
      <dt>Category</dt><dd><%= @advertisement.subcategory.category.name %></dd>
      <dt>Subcategory</dt><dd><%= @advertisement.subcategory.name %></dd>
    </dl>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <span style="color:red">Note: *Image size must be 1400×700</span>
      <% @advertisement.advertisement_images.each do |advertisement_image| %>
          <div class="col-sm-12">
            <%= image_tag advertisement_image.image.url(AdvertisementImage::DEFAULT_SIZE), class: 'img-responsive' %>
            <% if advertisement_image.id.present? %>
                <%= link_to admin_advertisement_advertisement_image_path(@advertisement, advertisement_image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
                    <i class="fa fa-trash fa-3"></i>
                <%- end %>
            <%- end %>
          </div>
      <%- end %>
    </div>
    <% unless @advertisement.advertisement_images.count > 2 %>
        <fieldset>
          <legend><small>Add new images</small></legend>
          <%= render partial: 'admin/advertisement_images/form', locals: { advertisement: @advertisement, advertisement_image: @advertisement.advertisement_images.new } %>
        </fieldset>
    <% end %>
  </div>
</div>
