<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Title</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @headers.each do |header| %>
          <tr>
            <td><%= header.title %></td>
            <td><%= header.subcategory.category.name %></td>
            <td><%= header.subcategory.name %></td>
            <td><%= header.user.email %></td>
            <td>
              <% if header.admin_verified? %>
                  <span class="text-success">Verified by admin</span>
                  <%= link_to( 'Un-verify' , admin_approve_admin_header_path(header, admin_verified: false), method: :put, class: 'btn btn-danger btn-xs') %>
              <%- else %>
                  <span class="text-danger">Not verified</span>
                  <%= link_to( 'Verify' , admin_approve_admin_header_path(header, admin_verified: true), method: :put, class: 'btn btn-success btn-xs') %>
              <%- end %>
              <%= link_to admin_header_path(header) do %>
                  <i class="fa fa-eye"></i>
              <%- end %>
              <%= link_to edit_admin_header_path(header) do %>
                  <i class="fa fa-edit"></i>
              <%- end %>
              <%= link_to admin_header_path(header), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
                  <i class="fa fa-trash fa-3"></i>
              <%- end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate @headers %>


