<%= simple_form_for [:customer, @product] do |f| %>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :category_id, collection: product_category_collection, prompt: 'Select category', label: 'Product Category' ,label_html: {class: 'label'}, input_html: {class: 'full-select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :gender, collection: ['Male', 'Female'], prompt: 'Select gender', label: 'Gender' ,label_html: {class: 'label'}, input_html: {class: 'full-select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :subcategory_id, collection: subcategory_for_collection, prompt: 'Select subcategory', label: 'Product Subcategory' ,label_html: {class: 'label'}, input_html: {class: 'full-select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :name, label: 'Product Name ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Product Name. Good to put brand name as well.'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :description, label: 'Product Description ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Short description of product including details such as brand name, sizes, use, colour, etc.'}, input_html: {class: 'text-discription'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :technical_specification, label: 'Technical Specification ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Detailed description of the product including technical specifications such as dimension, size, weight, material type, technical details, etc., as applicable.'}, input_html: {class: 'text-discription'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <% unless params[:action] == 'edit' %>
            <div id="nested-product-images">
              <%#= f.fields_for :product_images do |builder| %>
                  <%#= render partial: 'application/product_image_fields', locals: { f: builder } %>
              <%#- end %>
              <!--<p id="nested-click"><%#= link_to_add_fields "Add Product Image", f, :product_images %></p>-->
              <span class="preview_img_con">
                <%= f.file_field :image, accept:'image/*', class: 'preview_img_1', name: 'product[product_images_attributes][1478336060035][image]' %>
                <div class="img_add">
                  <%= image_tag 'theme_img/img-preview.png', class: 'img-responsive' %>
                </div>
                <div id="target_1"></div>
              </span>
              <span class="preview_img_con">
                <%= f.file_field :image, accept:'image/*', class: 'preview_img_2', name: 'product[product_images_attributes][1478336060036][image]' %>
                <div class="img_add">
                  <%= image_tag 'theme_img/img-preview.png', class: 'img-responsive' %>
                </div>
                <div id="target_2"></div>
              </span>
              <span class="preview_img_con">
                <%= f.file_field :image, accept:'image/*', class: 'preview_img_3', name: 'product[product_images_attributes][1478336060037][image]' %>
                <div class="img_add">
                  <%= image_tag 'theme_img/img-preview.png', class: 'img-responsive' %>
                </div>
                <div id="target_3"></div>
              </span>
              <span class="preview_img_con">
                <%= f.file_field :image, accept:'image/*', class: 'preview_img_4', name: 'product[product_images_attributes][1478336060038][image]' %>
                <div class="img_add">
                  <%= image_tag 'theme_img/img-preview.png', class: 'img-responsive' %>
                </div>
                <div id="target_4"></div>
              </span>
              <span class="preview_img_con">
                <%= f.file_field :image, accept:'image/*', class: 'preview_img_5', name: 'product[product_images_attributes][1478336060039][image]' %>
                <div class="img_add">
                  <%= image_tag 'theme_img/img-preview.png', class: 'img-responsive' %>
                </div>
                <div id="target_5"></div>
              </span>
            </div>
        <%end%>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :state_id, collection: state_for_collection, prompt: 'Select state', label: 'State' ,label_html: {class: 'label'}, input_html: {class: 'full-select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :city_id, collection: city_for_collection, prompt: 'Select city', label: 'City' ,label_html: {class: 'label'}, input_html: {class: 'full-select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :location, label: 'Location' ,label_html: {class: 'label'}, input_html: {class: 'text-discription'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :start_at, label: 'Start at ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Select the period for which the product will be available. We suggest to choose the dates for which you have fair visibility that your product will be available.'}, input_html: {class: 'select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :end_at, label: 'End at ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Select the period for which the product will be available. We suggest to choose the dates for which you have fair visibility that your product will be available.'}, input_html: {class: 'select-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :quantity, label: 'Quantity' ,label_html: {class: 'label'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :per_hour_price, label: 'Rent Per Hour' ,label_html: {class: 'label'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :per_day_price, label: 'Rent Per Day' ,label_html: {class: 'label'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :per_week_price, label: 'Rent Per Week' ,label_html: {class: 'label'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :per_month_price, label: 'Rent Per Month' ,label_html: {class: 'label'}, input_html: {class: 'text-field'} %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="field-con">
        <span class="negotiable-text">Negotiable</span> <%= f.input :negotiable, label: '', input_html: {class: 'negotiable-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :refundable_security, label: 'Refundable Security ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Balance security deposit after adjusting rent will be refunded at the time of return of product.'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :cost_of_replacement, label: 'Cost of Replacement ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'If the product is considerably damaged, lost, stolen, this is the amount the renter has to pay to the owner. Cost of replacement should not be more than market value of the product.'}, input_html: {class: 'text-field'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :youtube_link, label: 'Product Youtube Link ⓘ' ,label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'We suggest to make video of your product, upload the video on youtube and share the link of your youtube video for better demonstration of your product.'}, input_html: {class: 'text-discription'} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="field-con">
        <%= f.input :other, label: 'Other' ,label_html: {class: 'label'}, input_html: {class: 'text-discription'} %>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="submit-main">
      <%= f.submit 'Save', class: 'pushbutton-wide s-button btn btn-primary' %>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('[data-toggle="popover"]').tooltip();

        $('#nested-product-images #nested-click').click(function(){
            if ($("#nested-product-images :input").length > 4){
                this.remove();
            }
        });
        $(function(){
            $('.preview_img_1').on('change', function(event) {
                var files = event.target.files;
                var image = files[0]
                var reader = new FileReader();
                reader.onload = function(file) {
                    var img = new Image();
                    console.log(file);
                    img.src = file.target.result;
                    $('#target_1').html(img);
                }
                reader.readAsDataURL(image);
                console.log(files);
            });
            $('.preview_img_2').on('change', function(event) {
                var files = event.target.files;
                var image = files[0]
                var reader = new FileReader();
                reader.onload = function(file) {
                    var img = new Image();
                    console.log(file);
                    img.src = file.target.result;
                    $('#target_2').html(img);
                }
                reader.readAsDataURL(image);
                console.log(files);
            });
            $('.preview_img_3').on('change', function(event) {
                var files = event.target.files;
                var image = files[0]
                var reader = new FileReader();
                reader.onload = function(file) {
                    var img = new Image();
                    console.log(file);
                    img.src = file.target.result;
                    $('#target_3').html(img);
                }
                reader.readAsDataURL(image);
                console.log(files);
            });
            $('.preview_img_4').on('change', function(event) {
                var files = event.target.files;
                var image = files[0]
                var reader = new FileReader();
                reader.onload = function(file) {
                    var img = new Image();
                    console.log(file);
                    img.src = file.target.result;
                    $('#target_4').html(img);
                }
                reader.readAsDataURL(image);
                console.log(files);
            });
            $('.preview_img_5').on('change', function(event) {
                var files = event.target.files;
                var image = files[0]
                var reader = new FileReader();
                reader.onload = function(file) {
                    var img = new Image();
                    console.log(file);
                    img.src = file.target.result;
                    $('#target_5').html(img);
                }
                reader.readAsDataURL(image);
                console.log(files);
            });
        });
    });

</script>