<div class="container">
  <header class="page-header">
    <h1 class="page-title">Contact Us</h1>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">We are passionate about our products as well as our customers. We are always there to provide the best for you. Reach out to us anytime by filling below the contact form and we will happily answer your questions.</p>
    </div>
  </div>
  <div class="gap gap-small"></div>
  <div class="row" data-gutter="60">
    <div class="col-md-5">
      <h3 class="widget-title">Leave a Message</h3>
      <!--<p class="text-muted">Class conubia id magna cursus conubia proin venenatis suscipit aliquet massa dui odio velit ultrices augue luctus lorem placerat tortor</p>-->
      <!--<form action="/subscribers", method="post">-->
        <%= form_tag '/subscribers', method: :post do %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Name</label>
              <%= text_field_tag :name, '',class: 'form-control' %>
              <!--<input class="form-control" type="text" />-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Mobile</label>
              <%= number_field_tag :mobile, '',class: 'form-control', length: {max: 10} %>
              <!--<input class="form-control" type="text" />-->
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>E-mail</label>
              <%= text_field_tag :email, '',class: 'form-control' %>
              <!--<input class="form-control" type="text" />-->
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Message</label>
          <%= text_area_tag :message, '',class: 'form-control' %>
          <!--<textarea class="form-control"></textarea>-->
        </div>
          <%= submit_tag 'Send', class: 'btn btn-primary', style: 'width: 100%' %>
        <!--<input class="btn btn-primary" type="submit" value="Send a Message" />-->
        <% end %>
      <!--</form>-->
    </div>
    <div class="col-md-7">
      <div class="google-map">
        <%= image_tag "theme_img/contact_map.png", class: 'img-responsive' %>
        <div style="margin-top: 10px" class="email-con">
          <i class="fa fa-envelope"></i> <a href="mailto:info@byebuying.com">info@byebuying.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap gap-small"></div>

<style>
    #gmap_canvas img{
        max-width:none!important;
        background:none!important
    }
</style>

<script type='text/javascript'>
    $( document ).ready(function() {
        function init_map(){
            var myOptions = {
                zoom:10,center:new google.maps.LatLng(28.4138045,77.32239149999998),mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({
                map: map,position: new google.maps.LatLng(28.4138045,77.32239149999998)
            });
            infowindow = new google.maps.InfoWindow({
                content:'<strong>ByeBuying</strong><br>Sec 16, Faridabad<br>'
            });
            google.maps.event.addListener(marker, 'click', function(){
                infowindow.open(map,marker);
            });
            infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);


        $('#mobile').keyup(function(){
            var number = this.value;
            if(number.length > 10){
                $('#mobile').val(this.value.substr(0, 10));
            }
        });
    });


</script>
