<!--<h2>WELCOME PAGE</h2>-->

<!--<form action="/">-->
<!--<input type="text" name="title" value="<%#= params[:title] %>" placeholder="Search by title">-->
<!--<input type="text" name="category" value="<%#= params[:category] %>" placeholder="Search by category">-->
<!--<input type="submit" value="Filter">-->
<!--</form>-->

<%# @advertisements.each do |advertisement| %>
<%#= advertisement.title %>
<%#= advertisement.per_hour_cost %>
<%#= advertisement.subcategory.category.name %>
<%# end %>

<!--slider start-->

<div class="owl-carousel owl-loaded owl-nav-dots-inner" data-options='{"items":1,"loop":true,"autoplay":true,"autoplayTimeout":5000}'>
  <% @advertisements.each do |advertisement|%>
      <% next unless advertisement.advertisement_images.any? %>
      <a href="<%= advertisement.redirect_link.present? ? "#{advertisement.redirect_link}" : subcategory_path(advertisement.subcategory)%>" target="_blank">
        <div class="owl-item">
          <div class="slider-item" style="background-image: url(<%= "#{advertisement.advertisement_images.first.image.url(:original)}" %>)">
            <div class="container">
              <div class="slider-item-inner">
                <div class="slider-item-caption-left">
                  <h4 class="slider-item-caption-title" style="color:white"><%= advertisement.title %></h4>
                  <p class="slider-item-caption-desc" style="color:white"><%= advertisement.description %></p>
                  <!--<a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>-->
                </div>
                <%#= image_tag 'slider_img/slider-img1.png', class: 'slider-item-img-right', style:'top: 60%; width: 56%;' %>
              </div>
            </div>
          </div>
        </div>
      </a>

  <% end %>
</div>


<!--<div class="owl-carousel owl-loaded owl-nav-dots-inner" data-options='{"items":1,"loop":true,"autoplay":true,"autoplayTimeout":5000}'>-->
<!--<div class="owl-item">-->
<!--<div class="slider-item" style="background-color:#E3D8FF;">-->
<!--<div class="container">-->
<!--<div class="slider-item-inner">-->
<!--<div class="slider-item-caption-left">-->
<!--<h4 class="slider-item-caption-title">Playstation 4</h4>-->
<!--<p class="slider-item-caption-desc">This is for The Players</p>-->
<!--&lt;!&ndash;<a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>&ndash;&gt;-->
<!--</div>-->
<!--<%#= image_tag 'slider_img/slider-img1.png', class: 'slider-item-img-right', style:'top: 60%; width: 56%;' %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="owl-item">-->
<!--<div class="slider-item" style="background-color:#9ce0e2;" >-->
<!--<div class="container">-->
<!--<div class="slider-item-inner">-->
<!--<%#= image_tag 'slider_img/slider-img2.png', class: 'slider-item-img-left'%>-->
<!--<div class="slider-item-caption-right slider-item-caption-white">-->
<!--<h4 class="slider-item-caption-title">Smart Watches</h4>-->
<!--<p class="slider-item-caption-desc">Get One Just from $99</p>-->
<!--&lt;!&ndash;<a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="owl-item">-->
<!--<div class="slider-item" style="background-color:#E5F54B;">-->
<!--<div class="container">-->
<!--<div class="slider-item-inner">-->
<!--<div class="slider-item-caption-left">-->
<!--<h4 class="slider-item-caption-title">Run! Run! Run!</h4>-->
<!--<p class="slider-item-caption-desc">Your Running Shoes, Right Away.</p>-->
<!--&lt;!&ndash;<a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>&ndash;&gt;-->
<!--</div>-->
<!--<%#= image_tag 'slider_img/slider-img3.png', class: 'slider-item-img-right' %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="gap"></div>
<!--slider finish-->


<div class="top-column-product">
  <div class="container">
    <!--<div class="col-md-3">-->
      <!--<div class="custome-filter-block">-->
        <!--<aside class="category-filters">-->
          <!--<div class="category-filters-section">-->
            <!--<h3 class="widget-title-sm">Filter</h3>-->
          <!--</div>-->
          <!--<div class="category-filters-section">-->
            <!--<h3 class="widget-title-sm">Price</h3>-->
            <!--&lt;!&ndash;<input type="text" id="price-slider" />&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--<div class="filter_main_form">-->
              <!--<form action="/">-->
                <!--<div class="form-group">-->
                  <!--<label>Minimum</label>-->
                  <!--<i class="fa fa-inr rupee-icon"></i>-->
                  <!--<input type="text" name="min_price" class="form-control set-min-price">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label>Maximum</label>-->
                  <!--<i class="fa fa-inr rupee-icon"></i>-->
                  <!--<input type="text" name="max_price" class="form-control set-max-price">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label>Minimum Rating</label>-->
                  <!--&lt;!&ndash;<i class="fa fa-inr rupee-icon"></i>&ndash;&gt;-->
                  <!--<input type="text" name="rating" class="form-control set-rating">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label>Minimum Product Quantity</label>-->
                  <!--&lt;!&ndash;<i class="fa fa-inr rupee-icon"></i>&ndash;&gt;-->
                  <!--<input type="number" name="quantity" class="form-control set-quantity">-->
                  <!--<%#= check_box("tag", true, {checked: true}) %>-->
                  <!--&lt;!&ndash;<input type="checkbox" name="negotiable" class="set-negotiable" > Negotiable&ndash;&gt;-->
                  <!--<%#= select_tag 'state', options_for_select(state_for_collection), prompt: 'select state', class: 'form-control set-state'%>-->
                <!--</div>-->
                <!--<input type="submit" class="btn btn-primary save-full-btn">-->
              <!--</form>-->
            <!--</div>-->
            <!--&lt;!&ndash;<span class="btn btn-primary filter-evnt"> filter </span>&ndash;&gt;-->
          <!--</div>-->
        <!--</aside>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-xs-12">
      <% if @products.any? %>
          <!--<div class="gap"></div>-->
          <h3 class="widget-title">Products</h3>
          <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>
            <% @products.each do |product| %>
                <div class="owl-item">
                  <div class="product  owl-item-slide">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                      <% if product.product_images.any? %>
                          <%= image_tag product.product_images.first.image(:size_500x500), class: 'img-responsive' %>
                      <% else %>
                          <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                      <% end %>
                    </div>
                    <a class="product-link" href="<%= product_path(product)%>"></a>
                    <div class="product-caption">
                      <ul class="product-caption-rating">
                        <% for i in 1..5 %>
                            <% if i <= product.rating %>
                                <li class="rated"><i class="fa fa-star"></i></li>
                            <% else %>
                                <li class=""><i class="fa fa-star"></i></li>
                            <% end %>
                        <% end %>
                      </ul>
                      <h5 class="product-caption-title">
                        <%= product.name %>
                      </h5>
                      <div class="product-caption-price">
                  <span class="product-caption-price-new">
                    <!--starting @ -->
                    ₹ <%= product.per_hour_price > 0 ?  "#{product.per_hour_price}/Hour " : ( product.per_day_price > 0 ?  "#{product.per_day_price}/Day" : ( product.per_week_price > 0 ? "#{product.per_week_price}/Week" : ( product.per_month_price > 0 ?  "#{product.per_month_price}/Month" : 0 ))) %>
                    <%# if product.per_hour_price.present? %>
                        <!--Per Hr-->
                    <%# else if product.per_day_price.present? %>
                        <!--Per Day-->
                    <%# else if product.per_week_price.present? %>
                        <!--Per Week-->
                    <%# else product.per_month_price.present? %>
                        <!--Per Month-->
                    <%# end %>
                  </span>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="gap"></div>
      <% end %>

      <% if @advertisements.any? %>
          <!--Advertisements Start-->
          <h3 class="widget-title">Advertisements</h3>
          <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>
            <% @advertisements.each do |advertisement| %>
                <div class="owl-item">
                  <div class="product  owl-item-slide">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                      <% if advertisement.advertisement_images.any? %>
                          <%= image_tag advertisement.advertisement_images.first.image(:size_500x500), class: 'img-responsive' %>
                      <% else %>
                          <%= image_tag "theme_img/500x500.png", class: 'product-img' %>
                      <% end %>
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                      <h5 class="product-caption-title">
                        <%= advertisement.title %>
                      </h5>
                      <div class="product-caption-price">
                       <span class="product-caption-price-new">
                        ₹ <%= advertisement.per_hour_cost %>
                       </span>

                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="gap"></div>
          <!--Advertisements finish-->
      <% end %>

      <% if @services.any? %>
          <h3 class="widget-title">Services</h3>
          <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>
            <% @services.each do |service| %>
                <div class="owl-item">
                  <div class="product  owl-item-slide">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                      <% if service.service_images.any? %>
                          <%= image_tag service.service_images.first.image(:size_500x500), class: 'img-responsive' %>
                      <% else %>
                          <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                      <% end %>
                    </div>
                    <a class="product-link" href="<%= service_path(service)%>"></a>
                    <div class="product-caption">
                      <ul class="product-caption-rating">
                        <% for i in 1..5 %>
                            <% if i <= service.rating %>
                                <li class="rated"><i class="fa fa-star"></i></li>
                            <% else %>
                                <li class=""><i class="fa fa-star"></i></li>
                            <% end %>
                        <% end %>
                      </ul>
                      <h5 class="product-caption-title">
                        <%= service.service_description %>
                      </h5>
                      <div class="product-caption-price">
                  <span class="product-caption-price-new">
                    <!--starting @ -->
                    ₹ <%= service.per_hour_price > 0 ?  "#{service.per_hour_price}/Hour " : ( service.per_day_price > 0 ?  "#{service.per_day_price}/Day" : ( service.per_week_price > 0 ? "#{service.per_week_price}/Week" : ( service.per_month_price > 0 ?  "#{service.per_month_price}/Month" : 0 ))) %>
                  </span>

                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="gap"></div>
      <% end %>

    </div>

  </div>
</div>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
        $('.custome-filter-block .set-min-price').val("<%= params[:min_price].present? ?  params[:min_price] : @min_price %>")
        $('.custome-filter-block .set-max-price').val("<%= params[:max_price].present? ?  params[:max_price] : @max_price %>")
        $('.custome-filter-block .set-quantity').val("<%= params[:quantity].present? ?  params[:quantity] : 0 %>")
        $('.custome-filter-block .set-rating').val("<%= params[:rating].present? ?  params[:rating] : 1 %>")

    });

</script>

