<script type="application/javascript">
    $(document).ready(function(){
        $('.sort-arrow').click(function(){
            var click_id = this.getAttribute('dyn_click');
            $('ul.product_'+ click_id).slideToggle();
        });
    });
</script>
<div class="customer-main-con">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Services</h1>
      <%= link_to 'Post Service', new_customer_service_path, class: 'btn btn-primary add-btn pull-right' %>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr class="info">-->
          <!--<th>Description</th>-->
          <!--<th>Category</th>-->
          <!--<th>Subcategory</th>-->
          <!--&lt;!&ndash;<th>Start at</th>&ndash;&gt;-->
          <!--&lt;!&ndash;<th>End at</th>&ndash;&gt;-->
          <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<%# @services.each_with_index do |service, index| %>-->
            <!--<tr class="data">-->
              <!--<td><%#= service.service_description%></td>-->
              <!--<td><%#= service.subcategory.category.name %></td>-->
              <!--<td><%#= service.subcategory.name %></td>-->
              <!--&lt;!&ndash;<td><%#= service.start_at.strftime(time_format) %></td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><%#= service.end_at.strftime(time_format) %></td>&ndash;&gt;-->
              <!--<td>-->
                <!--<%#= link_to customer_service_path(service) do %>-->
                    <!--<i class="fa fa-eye"></i>-->
                <!--<%# end %>-->
                <!--<%#= link_to edit_customer_service_path(service) do %>-->
                    <!--<i class="fa fa-edit"></i>-->
                <!--<%# end %>-->
                <!--<%#= link_to customer_service_path(service), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>-->
                    <!--<i class="fa fa-trash fa-3"></i>-->
                <!--<%#- end %>-->
              <!--</td>-->
            <!--</tr>-->
        <!--<%#- end %>-->
        <!--</tbody>-->
      <!--</table>-->
      <div class="customer-main-show">
        <% @services.each_with_index do |service, index| %>
            <div class="white-bg">
              <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                <div class="add-image-con">
                  <% if service.service_images.any? %>
                      <%= image_tag service.service_images.first.image(:size_500x500), class: 'img-responsive' %>
                  <% else %>
                      <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <h2 class="heading"><%= service.subcategory.name %></h2>
                <h5 class="time-option"><%= service.start_at.strftime(time_format) %> - <%= service.end_at.strftime(time_format) %></h5>
                <p class="description"><%= service.service_description %></p>
                <div class="dropdown-main">
                  <span dyn_click="<%= index + 1 %>" class="sort-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  <div class="clearfix"></div>
                  <ul class="dropdown-option product_<%= index + 1 %>">
                    <span class="arrow-top"></span>
                    <li>
                      <%= link_to customer_service_path(service) do %>
                          <i class="fa fa-eye"></i> Show
                      <%- end %>
                    </li>
                    <li>
                      <%= link_to edit_customer_service_path(service) do %>
                          <i class="fa fa-edit"></i> Edit
                      <%- end %>
                    </li>
                    <li class="no_border">
                      <%= link_to customer_service_path(service), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
                          <i class="fa fa-trash fa-3"></i> Delete
                      <%- end %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
        <%- end %>
      </div>
    </div>
  </div>
</div>