<div class="customer-main-show">
  <div class="row">
    <div class="white-bg">
      <div class="col-sm-4 col-xs-12">
        <div class="add-image-con">
          <div class="row">
            <div class="col-sm-12">
              <div class="product-page-product-wrap jqzoom-stage">
                <div class="clearfix">
                  <% if @service.service_images.any? %>
                      <a href="<%= @service.service_images.first.image(:original) %>" id="jqzoom" data-rel="gal-1">
                        <%= image_tag @service.service_images.first.image(:size_500x500), class: 'img-responsive' %>
                      </a>
                  <% else %>
                      <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
                        <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                      </a>
                  <%end%>
                </div>
              </div>
              <% if @service.service_images.any? %>
                  <ul class="jqzoom-list">
                    <% @service.service_images.each_with_index do |service_image, index| %>
                        <li>
                          <a class="<%= index == 0 ? 'zoomThumbActive' : '' %>" href="javascript:void(0)" data-rel=<%="{gallery:'gal-1',smallimage:'#{service_image.image(:size_500x500)}',largeimage:'#{service_image.image(:original)}'}" %>>
                            <%= image_tag service_image.image(:size_500x500), class: 'img-responsive' %>
                          </a>
                          <% if service_image.id.present? %>
                              <%= link_to customer_service_service_image_path(@service, service_image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
                                  <i class="fa fa-times cross-icon"></i>
                              <%- end %>
                          <%- end %>
                        </li>
                    <% end %>
                  </ul>
              <% else %>
                  <!-- DO Nothing-->
              <% end %>
              <!--<div class="img-overflow overflow-servic-img">-->
                <!--<%#if @service.service_images.any? %>-->
                    <!--<%# @service.service_images.each do |service_image| %>-->
                        <!--<span class="img-con">-->
                          <!--<%#= image_tag service_image.image.url(ServiceImage::DEFAULT_SIZE), class: 'upload-img img-responsive' %>-->
                          <!--<%# if service_image.id.present? %>-->
                              <!--<%#= link_to customer_service_service_image_path(@service, service_image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>-->
                                  <!--<i class="fa fa-times cross-icon"></i>-->
                              <!--<%#- end %>-->
                          <!--<%#- end %>-->
                        <!--</span>-->
                    <!--<%#- end %>-->
                <!--<%# else %>-->
                    <!--<%#= image_tag 'theme_img/500x500.png', class: 'img-responsive' %>-->
                <!--<%# end %>-->
              <!--</div>-->
            </div>
          </div>
          <% unless @service.service_images.count > 4 %>
              <fieldset>
                <legend class="add-new-text"><small>Add new images</small></legend>
                <%= render partial: 'customer/service_images/form', locals: { service: @service, service_image: @service.service_images.new } %>
              </fieldset>
          <% end %>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <h2>DETAIL</h2>
          </div>
          <div class="col-xs-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Category:</h4>
                </div>
                <div class="col-xs-7">
                  <p><%= @service.subcategory.category.name %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Subcategory:</h4>
                </div>
                <div class="col-xs-7">
                  <p><%= @service.subcategory.name %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Status:</h4>
                </div>
                <div class="col-xs-7">
                  <p><%= @service.admin_verified? ? 'Approved' : 'Pending' %></p>
                </div>
              </div>
            </div>
          </div>

          <% if  @service.subcategory.name == 'Others'%>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>Nature of service:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.nature_of_service.present? ? @service.nature_of_service : 'NA' %></p>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>


          <% if  @service.subcategory.category.name == 'Membership'%>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>Club name:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.club_name.present? ? @service.club_name : 'NA' %></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>Membership plan:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.membership_plan.present? ? @service.membership_plan : 'NA' %></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>Start at:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.start_at.strftime(time_format) %></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>End at:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.end_at.strftime(time_format) %></p>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @service.subcategory.category.name == 'Commercial Space' %>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>Area in meters:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.area_in_meters.present? ? @service.area_in_meters : 'NA' %></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="product-detail">
                  <div class="row">
                    <div class="col-xs-5">
                      <h4>Amenities available:</h4>
                    </div>
                    <div class="col-xs-7">
                      <p><%= @service.amenities_available.present? ? @service.amenities_available : 'NA' %></p>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>State:</h4>
                </div>
                <div class="col-xs-7">
                  <p><%= @service.state.name %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>City:</h4>
                </div>
                <div class="col-xs-7">
                  <p><%= @service.city.name %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Location:</h4>
                </div>
                <div class="col-xs-7">
                  <p><%= @service.location.present? ? @service.location : 'NA' %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <h2>COST</h2>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Per hour price:</h4>
                </div>
                <div class="col-xs-7">
                  <p><i class="fa fa-inr" aria-hidden="true"></i> <%= @service.per_hour_price %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Per day price:</h4>
                </div>
                <div class="col-xs-7">
                  <p><i class="fa fa-inr" aria-hidden="true"></i> <%= @service.per_day_price %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Per week price:</h4>
                </div>
                <div class="col-xs-7">
                  <p><i class="fa fa-inr" aria-hidden="true"></i> <%= @service.per_week_price %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <div class="row">
                <div class="col-xs-5">
                  <h4>Per month price:</h4>
                </div>
                <div class="col-xs-7">
                  <p><i class="fa fa-inr" aria-hidden="true"></i> <%= @service.per_month_price %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <h2>OTHER</h2>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <h4>Service description:</h4>
              <p><%= @service.service_description %></p>
            </div>
          </div>

          <!--<div class="col-sm-12">-->
          <!--<div class="product-detail">-->
          <!--<h4>Price type:</h4>-->
          <!--<p><%#= @service.price_type %></p>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-12">-->
          <!--<div class="product-detail">-->
          <!--<h4>Price in rupees:</h4>-->
          <!--<p><%#= @service.price_in_rupees %></p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="col-sm-12">
            <div class="product-detail">
              <h4>Youtube link:</h4>
              <p>
                <% if @service.youtube_link.present? %>
                    <a href="<%= @service.youtube_link %>" target="_blank"><%= @service.youtube_link %></a>
                <% else %>
                    NA
                <% end %>
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="product-detail">
              <h4>Others:</h4>
              <p><%= @service.other.present? ? @service.other : 'NA' %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $('.service-image-save').hide();

    $('#service_image_image').change(function(){
        if ($("#service_image_image").val().length > 0){
            $('.service-image-save').show();
        }
    });
</script>