<div class="customer-main-con">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="mfp-with-anim mfp-dialog rating_box clearfix">
          <h3 class="widget-title">Rating</h3>
          <p>Give rating to us</p>
          <hr />
          <%= form_for @rating, class: 'rating_form' do |f| %>
              <%= f.hidden_field :rateable_id %>
              <%= f.hidden_field :rateable_type %>
              <%= f.hidden_field :user_id %>
              <label for="">Feedback</label>
              <%= f.text_area :feedback, class: 'text-area', placeholder: 'Feedback' %>
              <label for="">Rating</label>
              <%= f.text_field :number, class: 'text-field', placeholder: 'Rate - 1 to 5', input_html:{ max: 5 , min: 0 }, within:"1" , maxlength: "1", size: "1", max: "5", min: "1", type: 'number'  %>
              <div class="recommand_con">
                <span for="" class="recommand-text">Recommand this <%= @product_type == 'Product' ? 'Product' : 'Service' %></span>
                <%= f.check_box :recommand, class: 'recommand-field' %>
              </div>
              <%= f.hidden_field :is_product, value: @product_type %>
              <%= f.submit "Submit", class: 'btn btn-primary submit-btn' %>
          <%- end %>
        </div>
      </div>
    </div>
  </div>
</div>