<div class="fixed-header">
  <div class="global-wrapper clearfix" id="global-wrapper">
    <div class="navbar-before">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
              <li><a href="/about_us">About Us</a>
              </li>
              <li><a href="/listing_policy">Listing Policy</a>
              </li>
              <li><a href="/faq">FAQ</a>
              </li>
              <li><a href="/blog">Blog</a>
              </li>
              <li><a href="/contact_us">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--Login Form Start-->
    <!--<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">-->
      <!--<h3 class="widget-title">Login</h3>-->
      <!--<p>Welcome, Login to get started</p>-->
      <!--<hr />-->
      <!--<%#= form_tag customer_sign_in_path do %>-->
          <!--<div class="form-group">-->
            <!--<%#= label_tag :contact %>-->
            <!--<%#= number_field_tag :contact, params[:contact], class: 'form-control' %>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<%#= label_tag :password %>-->
            <!--<%#= password_field_tag :password, '',class: 'form-control' %>-->
          <!--</div>-->
          <!--<%#= submit_tag 'Sign In', class: 'btn btn-primary' %>-->
      <!--<%#- end %>-->

      <!--<div class="gap gap-small"></div>-->
      <!--<ul class="list-inline">-->
        <!--<li>-->
          <!--<%#= link_to 'Register Here', customer_step_one_path %>-->
          <!--<a href="#nav-mobile-dialog" class="popup-text">Register Here</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--Login Form End-->

    <!--Login Form Start-->
    <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">
      <h3 class="widget-title">Login</h3>
      <p>Welcome, Login to get started</p>
      <hr />
      <span class='msg-already-registred' style="color:red">Number already registered.</span>
      <span style="color:red" class=" login-error hidden"></span>
      <div class="form-group">
        Contact: <input type="number" class="form-control rgr-frm-mumber">
      </div>
      <div class="form-group">
        Password: <input type="password" class="form-control rgr-frm-pwd">
      </div>
      <span class="btn btn-primary btn-sign-in">Sign In</span>

      <div class="gap gap-small"></div>
      <ul class="list-inline">
        <li>
          <a href="#nav-mobile-dialog" class="popup-text">Register Here</a>
        </li>
        <li class="pull-right">
          <a href="#nav-forgot-password-dialog" class="popup-text">Forgot password?</a>
        </li>
      </ul>
    </div>
    <!--Login Form End-->

    <!--Registration Form Start-->
    <div class="mfp-with-anim mfp-hide mfp-dialog clearfix hdr-registration-form" id="nav-account-dialog">
      <h3 class="widget-title">Register</h3>
      <p>Welcome, Register to get Enter</p>
      <span style="color:red" class=" registration-error hidden"></span>
      <hr />
      <div class="form-group">
        Name: <input type="text" class="form-control rgr-frm-name">
      </div>
      <div class="form-group">
        Email: <input type="email" class="form-control rgr-frm-email">
      </div>
      <div class="form-group">
        Password: <input type="password" class="form-control rgr-frm-password">
      </div>
      <div class="form-group">
        Password confirmation: <input type="password" class="form-control rgr-frm-password-confirm">
      </div>
      <a href="javascript:void(0)" class="btn btn-primary hdr-registration-form-submit">Submit</a>
      <div class="gap gap-small"></div>
    </div>
    <!--Registration Form End-->

    <!--Password Recovery Form Start-->
    <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-pwd-dialog">
      <h3 class="widget-title">Password Recovery</h3>
      <p>Enter Your Email and We Will Send the Instructions</p>
      <hr />
      <form>
        <div class="form-group">
          <label>Your Email</label>
          <input class="form-control" type="text" />
        </div>
        <input class="btn btn-primary" type="submit" value="Recover Password" />
      </form>
    </div>
    <!--Password Recovery Form End-->

    <!--Mobile Form Start-->
    <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-mobile-dialog">
      <h3 class="widget-title">Mobile Number</h3>
      <hr />
      <span class="msg-number-validation text-danger"></span>
      <input type="number"id='register-mobile' class="form-control" min="10" max="10"  />
      <a href="#nav-otp-dialog" class="hidden popup-text mobile-submit2">Proceed</a>
      <a href="javascript:void(0)" class="mobile-submit evt-resend-otp">Proceed</a>
      <div class="gap gap-small"></div>
    </div>
    <!--Mobile Form End-->


    <!--Forgot Password Form Start-->
    <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-forgot-password-dialog">
      <h3 class="widget-title">Forgot Password?</h3>
      <hr />
      <span class="msg-forgot-password-validation text-danger"></span>
      <input type="number" id='forgot-password' class="form-control" min="10" max="10"  />
      <a href="#nav-forgot-password-dialog" class="hidden popup-text forgot-password-submit2">Proceed</a>
      <a href="javascript:void(0)" class="btn btn-primary forgot-password evt-forgot-password" style="margin-top: 10px;">Proceed</a>
      <div class="gap gap-small"></div>
    </div>
    <!--Forgot Password Form End-->

    <!--OTP Form Start-->
    <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-otp-dialog">
      <h3 class="widget-title">OTP</h3>
      <p>Enter OTP for Registration</p>
      <hr />
      <div class="form-group">
        <input type="number" class="user-otp form-control" min="4" max="4"  />
        <span style="color:red" class=" otp-error hidden">OTP not matched</span>
      </div>
      <a href="#nav-account-dialog" class="hidden popup-text otp-submit2">Proceed</a>
      <a href="javascript:void(0)" class="otp-submit">Proceed</a>
      <div class="gap gap-small"></div>
      <ul class="list-inline sending-otp-box">
        <li>
          <p style="font-size: 12px; color: #888;">Click on Send OTP to receive 4 digit verification code on your register mobile number.</p>
          <a href="javascript:void(0)" class="sending-otp">Resend OTP</a>
      </ul>
    </div>
    <!--OTP Form End-->

    <nav class="navbar navbar-inverse navbar-main yamm">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="http://s3.amazonaws.com/byebuyingproduction/advertisement_images/images/000/000/038/original/logo.jpeg?1474540580" class="img-responsive" alt="">
            <!--Barter-->
          </a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="javascript:void(0)"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i class="drop-caret" data-toggle="dropdown"></i></a>
              <ul class="dropdown-menu dropdown-menu-category">
                <% @categories.each do |category| %>
                    <li><a href="<%= category_path(category)%>"><i class="fa fa-home dropdown-menu-category-icon"></i> <%= category.name %></a>
                      <div class="dropdown-menu-category-section">
                        <div class="dropdown-menu-category-section-inner">
                          <div class="dropdown-menu-category-section-content">
                            <div class="row">
                              <div class="col-md-12">
                                <ul class="dropdown-menu-category-list">
                                  <% category.subcategories.each do |subcategory|%>
                                      <li>
                                        <a href="<%= subcategory_path(subcategory) %>"><%= subcategory.name %></a>
                                      </li>
                                  <% end %>
                                </ul>
                              </div>
                              <!--<div class="col-md-6">-->
                              <!--<ul class="dropdown-menu-category-list">-->
                              <!--<li><a href="#">Washing Machines</a>-->
                              <!--</li>-->
                              <!--<li><a href="#">Vaccumm Cleaner</a>-->
                              <!--</li>-->
                              <!--<li><a href="#">Air Purifiers</a>-->
                              <!--</li>-->
                              <!--<li><a href="#">Others</a>-->
                              <!--</li>-->
                              <!--</ul>-->
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                        <%= image_tag "theme_img/test_cat/6-i.png", class: 'img-responsive dropdown-menu-category-section-theme-img' %>
                      </div>
                    </li>
                <% end %>
              </ul>
            </li>
          </ul>

          <%= simple_form_for [Search.new], html: {class: 'navbar-form navbar-left navbar-main-search' }, role: 'search' do |f| %>
              <div class="form-group">
                <%= f.input :name, label: false, class: 'form-control', placeholder: 'Search...'  %>
                <%#= f.input :controller_name, :as => :hidden, input_html: { value: "#{params[:controller]}" }  %>
                <%#= f.input :action_name, :as => :hidden, input_html: {value: "#{params[:action]}"} %>
                <%= f.submit '', class: 'fa fa-search navbar-main-search-submit' %>
                <i class="fa fa-search search-icon"></i>
              </div>
          <% end %>


          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li class="dropdown"><a href="javascript:void(0)"><%#= current_user.email %> My Account</a>
                  <ul class="dropdown-menu dropdown-menu-shipping-cart">
                    <li><a href="/customer/profile">My Profile</a></li>
                    <li><%= link_to 'Dashboard', customer_dashboard_path %></li>
                    <!--<li><%#= link_to 'Advertisements', customer_advertisements_path %></li>-->
                    <li><%= link_to 'Products', customer_products_path %></li>
                    <li><%= link_to 'Services', customer_services_path %></li>
                    <li><%= link_to 'My Enquiries', customer_enquiries_path %></li>
                  </ul>
                </li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li class="dropdown">
                  <!--<a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Start</a>-->
                  <!--<a href="javascript:void(0)">Start</a>-->
                  <a href="#nav-login-dialog" class="popup-text login-nav-button">Start</a>
                  <!--<ul class="dropdown-menu dropdown-menu-shipping-cart">-->
                    <!--<li>-->
                      <!--<a href="#nav-login-dialog" class="popup-text login-nav-button">Login</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                </li>
            <%- end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <%= render partial: 'welcome/shared/alerts'%>
</div>
<div class="header-space"></div>

<script type="text/javascript" charset="utf-8">

    $( document ).ready(function() {
        $('.msg-already-registred').hide();
        $('.msg-number-validation').hide();
        $(".mobile-submit").click(function(){
            var number = $("#register-mobile").val();

            var phone_regax = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/
            if(phone_regax.test(number) && number.length == 10){
                $.post('/customer/step_two.json', {phone: number})
                        .done(function(msg){
                            var otp = msg.new_user.otp
                            var phone = msg.new_user.phone
                            $('.sending-otp-box').hide();
                            setTimeout(function(){
                                $('.sending-otp-box').show();
                            }, 30000);
                            $('.msg-number-validation').hide();
                            $(".mobile-submit2").trigger("click");
//                        $.get("http://bhashsms.com/api/sendmsg.php?user=ravikataria&pass=123&sender=BYEBUY&phone="+phone+"&text= Your OTP is "+otp+"&priority=ndnd& stype=normal", function(data, status){});
//                            $(".sending-otp").trigger("click");
                        })
                        .fail(function(xhr, status, error) {
                            // error handling
                            if (xhr.responseJSON.errors.indexOf("Already") >= 0){
                                var phone = $('#register-mobile').val();
                                $(".rgr-frm-mumber").val(phone);
                                $('.msg-already-registred').show();
                                $(".login-nav-button").trigger( "click" );
                            }
                        });
            }
            else{
                $('.msg-number-validation').html('Number invalid.');
                $('.msg-number-validation').show();
            }


        });

        $(".sending-otp").click(function(){
            $(".evt-resend-otp").trigger("click");
        });

        $(".otp-submit").click(function(){
            var number = $("#register-mobile").val();
            var user_otp = $(".user-otp").val();

            $.post('customer/step_three.json', {phone: number, otp: user_otp})
                    .done(function(msg){
                        $(".otp-submit2").trigger("click");
                        $(".otp-error").addClass('hidden')
                    })
                    .fail(function(xhr, status, error) {
                        // error handling
                        $(".otp-error").removeClass('hidden')

                    });
        });

        $(".hdr-registration-form-submit ").click(function(){
            var name = $(".rgr-frm-name").val();
            var email = $(".rgr-frm-email").val();
            var contact = $("#register-mobile").val();
            var password = $(".rgr-frm-password").val();
            var password_confirmation = $(".rgr-frm-password-confirm").val();
            $.post('customer/sign_up.json', {customer: {name: name, email: email, contact: contact, password: password, password_confirmation: password_confirmation}})
                    .done(function(msg){
                        location.reload();
                    })
                    .fail(function(xhr, status, error) {
                        // error handling
                        var error_text = xhr.responseText.split(':')[1].replace('"','').replace('}','').replace('"','');
                        $(".registration-error").text(error_text);
                        $(".registration-error").removeClass('hidden')
                    });
        });

        $(".btn-sign-in").click(function(){
            var phone = $(".rgr-frm-mumber").val();
            var pwd = $(".rgr-frm-pwd").val();
            $.post('customer/sign_in', {contact: phone, password: pwd })
                    .done(function(msg){
                        location.reload();
                        $(".login-error").addClass('hidden');
                        $('.msg-already-registred').hide();
//                        do nothing
                    })
                    .fail(function(xhr, status, error) {
                        // error handling
                        var error_text = xhr.responseText.split(':')[1].replace('"','').replace('}','').replace('"','');
                        $(".login-error").text(error_text);
                        $(".login-error").removeClass('hidden');
                        $('.msg-already-registred').hide();
                    });

        });

        setTimeout(function(){
            $('.alert').remove();
        }, 6000);

        $('.forgot-password').click(function(){
            var phone = $('#forgot-password').val();
            if (phone.length == 10){
                $.get('/forgot_password', {phone: phone })
                        .done(function(msg){
                            location.reload();
                            $('.msg-forgot-password-validation').text('');
//                        do nothing
                        })
                        .fail(function(xhr, status, error) {
                            // error handling
                            var error_text = xhr.responseText.split(':')[1].replace('"','').replace('}','').replace('"','');
                            $('.msg-forgot-password-validation').text('Invalid Phone number');
//                            $(".login-error").text(error_text);
//                            $(".login-error").removeClass('hidden');
//                            $('.msg-already-registred').hide();
                        });

            }
            else{
                $('.msg-forgot-password-validation').text('Invalid Phone number');
            }


        });

    });


</script>
