<div class="global-wrapper clearfix" id="global-wrapper">
  <div class="navbar-before mobile-hidden">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
            <li><a href="/about_us">About Us</a>
            </li>
            <li><a href="/blog">Blog</a>
            </li>
            <li><a href="/contact_us">Contact Us</a>
            </li>
            <li><a href="/faq">FAQ</a>
            </li>
            <!--<li><a href="#">Wishlist</a>-->
            <!--</li>-->
            <li><a href="/help">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">
    <h3 class="widget-title">Login</h3>
    <p>Welcome, Login to get started</p>
    <hr />
    <%= form_tag customer_sign_in_path do %>
        <div class="form-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, params[:email], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, '',class: 'form-control' %>
        </div>
        <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
    <%- end %>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
      <li>
        <a href="#nav-account-dialog" class="popup-text">Register Here</a>
      </li>
    </ul>
  </div>
  <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-account-dialog">
    <h3 class="widget-title">Register</h3>
    <p>Welcome, Register to get Enter</p>
    <hr />
    <%= simple_form_for :customer, :url => customer_sign_up_path do |f| %>
        <div class="form-group">
          <%= f.input :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :password_confirmation, class: 'form-control' %>
        </div>
        <%= submit_tag 'Sign Up', class: 'btn btn-primary' %>
    <%- end %>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
      <li>
        <a href="#nav-login-dialog" class="popup-text">Login</a>
      </li>
    </ul>
  </div>
  <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-pwd-dialog">
    <h3 class="widget-title">Password Recovery</h3>
    <p>Enter Your Email and We Will Send the Instructions</p>
    <hr />
    <form>
      <div class="form-group">
        <label>Your Email</label>
        <input class="form-control" type="text" />
      </div>
      <input class="btn btn-primary" type="submit" value="Recover Password" />
    </form>
  </div>


  <nav class="navbar navbar-inverse navbar-main yamm">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">
          ByeBuying
        <!--Barter-->
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i class="drop-caret" data-toggle="dropdown"></i></a>
            <ul class="dropdown-menu dropdown-menu-category">
              <% @categories.each do |category| %>
                  <li><a href="#"><%= category.name %></a>
                    <div class="dropdown-menu-category-section">
                      <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                          <div class="row">
                            <div class="col-md-12">
                              <ul class="dropdown-menu-category-list">
                                <% category.subcategories.each do |subcategory|%>
                                    <li><a href="<%= subcategory_path(subcategory) %>"><%= subcategory.name %></a>
                                    </li>
                                <% end %>
                              </ul>
                            </div>
                            <!--<div class="col-md-6">-->
                            <!--<ul class="dropdown-menu-category-list">-->
                            <!--<li><a href="#">Washing Machines</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">Vaccumm Cleaner</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">Air Purifiers</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">Others</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left navbar-main-search" role="search">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search..." />
            <a class="fa fa-search navbar-main-search-submit" href="#"></a>
          </div>
        </form>

        <!--<%#= simple_form_for [Search.new], class: "navbar-form navbar-left navbar-main-search", role: 'search' do |f| %>-->
            <!--<div class="form-group">-->
              <!--<%#= f.input :name, label: '', class: 'form-control', placeholder: 'Search...'  %>-->
              <!--<%#= f.input :controller_name, :as => :hidden, input_html: { value: "#{params[:controller]}" }  %>-->
              <!--<%#= f.input :action_name, :as => :hidden, input_html: {value: "#{params[:action]}"} %>-->
              <!--<%#= f.submit '', class: 'fa fa-search navbar-main-search-submit' %>-->
            <!--</div>-->
        <!--<%# end %>-->


        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li class="dropdown"><a href="Javascript:void(0)"><%= current_user.email %></a>
                <ul class="dropdown-menu dropdown-menu-shipping-cart">
                  <li><%= link_to 'Dashboard', customer_dashboard_path %></li>
                  <li><%= link_to 'Advertisements', customer_advertisements_path %></li>
                  <li><%= link_to 'Products', customer_products_path %></li>
                  <li><%= link_to 'Services', customer_services_path %></li>
                </ul>
              </li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li class="dropdown">
                <a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Start</a>
                <ul class="dropdown-menu dropdown-menu-shipping-cart">
                  <li>
                    <a href="#nav-login-dialog" class="popup-text">Login</a>
                  </li>
                </ul>
              </li>
          <%- end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<%= render partial: 'welcome/shared/alerts'%>