<!--<div class="gap"></div>-->
<!--<div id="calendar_enquiry" style="background-color: #ffffff; padding: 10px"></div>-->
<!--<div class="gap"></div>-->

<style>
    /*#calendar_enquiry {*/
        /*max-width: 900px;*/
        /*margin: 20px auto;*/
        /*background: #fff;*/
        /*padding: 20px;*/
        /*border-radius: 5px;*/
    /*}*/
</style>

<script>
//    $(document).ready(function() {

//        $('#calendar_enquiry').fullCalendar({
//            header: {
//                left: '',
//                center: 'title',
//                right: 'prev, next, today'
//            },
//            displayEventTime: false,
//            defaultDate: "<%#= DateTime.now %>",
//            editable: true,
//            eventLimit: true, // allow "more" link when too many events
//            eventColor: 'red',
//            events: [
                <%# if @enquiries[:product_enquiries].any? %>
                    <%# @enquiries[:product_enquiries].each do |product_enquiry| %>
//                    {
//                        title: "<%#= product_enquiry.product.name %>",
//                        start: "<%#= product_enquiry.start_at %>",
//                        end: "<%#= product_enquiry.end_at %>",
//                        description: "<%#= product_enquiry.expected_price %>",
//                        color: "#0fa688",
//                        url: "<%#= customer_enquiry_path(product_enquiry) %>"
//                    },
                    <%# end %>
                <%# end %>
                <%# if @enquiries[:service_enquiries].any? %>
                    <%# @enquiries[:service_enquiries].each do |service_enquiry| %>
//                    {
//                        title: "<%#= service_enquiry.service.service_description %>",
//                        start: "<%#= service_enquiry.start_at %>",
//                        end: "<%#= service_enquiry.end_at %>",
//                        description: "<%#= service_enquiry.expected_price %>",
//                        color: "#ff8e18",
//                        url: "<%#= customer_enquiry_path(service_enquiry) %>"
//                    },
                    <%# end %>
                <%# end %>
                <%# if @enquiries[:customer_enquiries].any? %>
                <%# @enquiries[:customer_enquiries].each do |customer_enquiry| %>
//                {
//                    title: "<%#= customer_enquiry.is_product ? customer_enquiry.product.name : customer_enquiry.service.service_description  %>",
//                    start: "<%#= customer_enquiry.start_at %>",
//                    end: "<%#= customer_enquiry.end_at %>",
//                    description: "<%#= customer_enquiry.expected_price %>",
//                    color: "<%#=  customer_enquiry.is_product ? '#0fa688' : '#ff8e18' %>",
//                    url: "<%#= customer_enquiry_path(customer_enquiry) %>"
//                },
                <%# end %>
                <%# end %>
//            ]
//        });

//    });
</script>

<!--===================================-->
<div class="customer-main-con">
  <div class="row">
    <!--<div class="col-sm-4">-->
      <!--<h3>Products Enquired</h3>-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr class="info">-->
          <!--<th>Name</th>-->
          <!--<th>Status</th>-->
          <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<%# @enquiries[:product_enquiries].each do |product_enquiry| %>-->
            <!--<tr class="data">-->
              <!--<td><%#= product_enquiry.product.name %></td>-->
              <!--<td><%#= product_enquiry.status %></td>-->
              <!--<td>-->
                <!--<%#= link_to customer_enquiry_path(product_enquiry) do %>-->
                    <!--<i class="fa fa-eye"></i>-->
                <!--<%# end %>-->
              <!--</td>-->
            <!--</tr>-->
        <!--<%#- end %>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<h3>Services Enquired</h3>-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr class="info">-->
          <!--<th>Description</th>-->
          <!--<th>Status</th>-->
          <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<%# @enquiries[:service_enquiries].each do |service_enquiry| %>-->
            <!--<tr class="data">-->
              <!--<td><%#= service_enquiry.service.service_description %></td>-->
              <!--<td><%#= service_enquiry.status %></td>-->
              <!--<td>-->
                <!--<%#= link_to customer_enquiry_path(service_enquiry) do %>-->
                    <!--<i class="fa fa-eye"></i>-->
                <!--<%# end %>-->
              <!--</td>-->
            <!--</tr>-->
        <!--<%#- end %>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <div class="col-sm-12">
      <h1 class="page-title">My Enquiries</h1>
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr class="info">-->
          <!--<th>Enquiry</th>-->
          <!--<th>Status</th>-->
          <!--<th>Start at</th>-->
          <!--<th>End at</th>-->
          <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<%# @enquiries[:customer_enquiries].each do |customer_enquiry| %>-->
            <!--<tr class="data">-->
              <!--<td><%#= customer_enquiry.is_product ? 'Product' : 'Service' %></td>-->
              <!--<td><%#= customer_enquiry.status %></td>-->
              <!--<td><%#= customer_enquiry.start_at.strftime(time_format) %></td>-->
              <!--<td><%#= customer_enquiry.end_at.strftime(time_format) %></td>-->
              <!--<td>-->
              <!--<%#= link_to customer_enquiry_path(customer_enquiry) do %>-->
              <!--<i class="fa fa-eye"></i>-->
              <!--<%# end %>-->
              <!--</td>-->
            <!--</tr>-->
        <!--<%#- end %>-->
        <!--</tbody>-->
      <!--</table>-->
      <div class="customer-main-show">
        <% if @enquiries[:customer_enquiries].present?%>
            <div class="tabbable product-tabs">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#enquiry" data-toggle="tab">Enquiry</a>
                </li>
                <li><a href="#quoted" data-toggle="tab">Quoted</a>
                </li>
                <li><a href="#confirmed" data-toggle="tab">Confirmed</a>
                </li>
              </ul>
              <% @enquiries[:customer_enquiries].each do |customer_enquiry| %>
                  <div class="tab-content">
                    <% if customer_enquiry.status == 'Enquiry' %>
                        <div class="tab-pane fade in active" id="enquiry">
                          <%= link_to customer_enquiry_path(customer_enquiry) do %>
                              <div class="white-bg">
                                <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                                  <div class="add-image-con">
                                    <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                                  </div>
                                </div>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                  <!--<h2 class="description"><%#= customer_enquiry.is_product ?  customer_enquiry.product.name : customer_enquiry.service.service_description %></h2>-->
                                  <h2 class="heading"><%= customer_enquiry.is_product ? 'Product' : 'Service' %></h2>
                                  <span style="color: #000"><%= customer_enquiry.status %></span>
                                  <h5 class="time-option"><%= customer_enquiry.start_at.strftime(time_format) %> - <%= customer_enquiry.end_at.strftime(time_format) %></h5>
                                  <p class="description"><%= customer_enquiry.description %></p>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                          <% end %>
                        </div>
                    <% elsif customer_enquiry.status == 'Quoted' %>
                        <div class="tab-pane fade in active" id="quoted">
                            <%= link_to customer_enquiry_path(customer_enquiry) do %>
                                <div class="white-bg">
                                  <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                                    <div class="add-image-con">
                                      <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                                    </div>
                                  </div>
                                  <div class="col-md-10 col-sm-9 col-xs-12">
                                    <!--<h2 class="description"><%#= customer_enquiry.is_product ?  customer_enquiry.product.name : customer_enquiry.service.service_description %></h2>-->
                                    <h2 class="heading"><%= customer_enquiry.is_product ? 'Product' : 'Service' %></h2>
                                    <span style="color: #000"><%= customer_enquiry.status %></span>
                                    <h5 class="time-option"><%= customer_enquiry.start_at.strftime(time_format) %> - <%= customer_enquiry.end_at.strftime(time_format) %></h5>
                                    <p class="description"><%= customer_enquiry.description %></p>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="tab-pane fade" id="confirmed">
                          <%= link_to customer_enquiry_path(customer_enquiry) do %>
                              <div class="white-bg">
                                <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                                  <div class="add-image-con">
                                    <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                                  </div>
                                </div>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                  <!--<h2 class="description"><%#= customer_enquiry.is_product ?  customer_enquiry.product.name : customer_enquiry.service.service_description %></h2>-->
                                  <h2 class="heading"><%= customer_enquiry.is_product ? 'Product' : 'Service' %></h2>
                                  <span style="color: #000"><%= customer_enquiry.status %></span>
                                  <h5 class="time-option"><%= customer_enquiry.start_at.strftime(time_format) %> - <%= customer_enquiry.end_at.strftime(time_format) %></h5>
                                  <p class="description"><%= customer_enquiry.description %></p>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                          <% end %>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% else %>
            <h2 class="text-center">No Enquiry Available</h2>
        <% end %>


        <% if @enquiries[:customer_enquiries].present?%>
            <% @enquiries[:customer_enquiries].each do |customer_enquiry| %>
                <%= link_to customer_enquiry_path(customer_enquiry) do %>
                    <div class="white-bg">
                      <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                        <div class="add-image-con">
                          <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
                        </div>
                      </div>
                      <div class="col-md-10 col-sm-9 col-xs-12">
                        <!--<h2 class="description"><%#= customer_enquiry.is_product ?  customer_enquiry.product.name : customer_enquiry.service.service_description %></h2>-->
                        <h2 class="heading"><%= customer_enquiry.is_product ? 'Product' : 'Service' %></h2>
                        <span style="color: #000"><%= customer_enquiry.status %></span>
                        <h5 class="time-option"><%= customer_enquiry.start_at.strftime(time_format) %> - <%= customer_enquiry.end_at.strftime(time_format) %></h5>
                        <p class="description"><%= customer_enquiry.description %></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                <% end %>
            <%- end %>
        <%- else %>
            <h2 class="text-center">No Enquiry Available</h2>
        <%- end %>
      </div>
    </div>
  </div>
</div>