<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Enquiry for</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Enquiry time</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @enquiries.each do |enquiry| %>
          <tr>
            <%= enquiry.user.name %>
            <td><%= enquiry.is_product ? 'Product' : 'Service' %></td>
            <td><%#= enquiry.user.email %></td>
            <td><%#= enquiry.user.contact %></td>
            <td><%= enquiry.created_at.strftime(time_format) %></td>
            <td>
              <%= link_to admin_enquiry_path(enquiry) do %>
                  <i class="fa fa-eye"></i>
              <%- end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate @enquiries %>


