<div class="searches_main_con">
  <div class="container">
    <div class="col-xs-12">
      <div class="page-header-banner-inner">
        <h1>Total Searches (<%= @results[:products].count + @results[:services].count %>)</h1>
      </div>
    </div>
    <div class="col-md-3">
      <div class="custome-filter-block">
        <aside class="category-filters">
          <div class="category-filters-section">
            <!--<input type="text" id="price-slider" />-->
            <!--<br>-->
            <!--<br>-->
            <h3 class="widget-title-sm">Filter</h3>
            <div class="filter_main_form">
              <form action="/searches/<%=params[:id]%>">
                <div class="form-group">
                  <label>Category</label>
                  <%= select_tag "category_id", options_for_select(category_for_collection, params[:category_id]), prompt: "choose category", class: 'form-control set-category filter_category' %>
                </div>
                <div class="form-group">
                  <label>Subcategory</label>
                  <%= select_tag "subcategory_id", options_for_select(subcategory_for_collection, params[:subcategory_id]), prompt: "choose subcategory", class: 'form-control set-subcategory filter_subcategory' %>
                </div>

                <div class="form-group">
                  <label>State</label>
                  <%= select_tag "state_id", options_for_select(state_for_collection, params[:state_id]), prompt: "choose state", class: 'form-control set-state filter_state' %>
                </div>

                <div class="form-group">
                  <label>City</label>
                  <%= select_tag "city_id", options_for_select(city_for_collection, params[:city_id]), prompt: "choose city", class: 'form-control set-city filter_city' %>
                </div>
                <div class="form-group">
                  <!--<label>Minimum</label>-->
                  <label>Price</label>
                  <div class="clearfix"></div>
                  <i class="fa fa-inr rupee-icon"></i>
                  <input type="number" name="min_price" class="form-control set-min-price" style="width: 45%; float: left">
                  <span style="font-size: 14px; margin-left: 5px; margin-top: 6px; display: inline-block;">to</span>
                  <i class="fa fa-inr rupee-icon-scnd"></i>
                  <input type="number" name="max_price" class="form-control set-max-price" style="width: 45%; float: right">
                  <div class="clearfix"></div>
                </div>
                <!--<div class="form-group">-->
                  <!--<label>Maximum</label>-->
                  <!--<i class="fa fa-inr rupee-icon"></i>-->
                  <!--<input type="number" name="max_price" class="form-control set-max-price">-->
                <!--</div>-->
                <div class="form-group">
                  <label>Minimum Rating</label>
                  <!--<i class="fa fa-inr rupee-icon"></i>-->
                  <input type="number" name="rating" class="form-control set-rating">
                </div>
                <!--<div class="form-group">-->
                  <!--<label>Minimum Product Quantity</label>-->
                  <!--<i class="fa fa-inr rupee-icon"></i>-->
                  <!--<input type="number" name="quantity" class="form-control set-quantity">-->
                  <%#= check_box("tag", true, {checked: true}) %>
                  <!--<input type="checkbox" name="negotiable" class="set-negotiable" > Negotiable-->
                  <%#= select_tag 'state', options_for_select(state_for_collection), prompt: 'select state', class: 'form-control set-state'%>
                <!--</div>-->



                <span class="reset-filter btn btn-primary save-full-btn" style="cursor: pointer; margin-bottom: 10px">Reset</span>
                <input type="submit" class="btn btn-primary save-full-btn" value="Apply Changes">
              </form>
            </div>
            <!--<span class="btn btn-primary filter-evnt"> filter </span>-->
          </div>
        </aside>
      </div>
    </div>
    <div class="col-md-9">
      <% if @results[:products].count + @results[:services].count > 0 %>
          <% if @results[:products].any? %>
              <!--<h3 style="margin-top: 0">Product:</h3>-->
              <% @results[:products].each_with_index do |product, index| %>
                  <div class="search_items">
                    <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                      <% if product.product_images.any? %>
                          <%= image_tag product.product_images.first.image.url(ProductImage::DEFAULT_SIZE), class: 'img-responsive product-img-primary' %>
                      <% else %>
                          <%= image_tag 'theme_img/500x500.png', class: 'img-responsive', alt: '' %>
                      <% end %>

                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                      <a class="read-more-link" href="<%= product_path(product) %>">
                        <div class="row">
                          <div class="col-sm-9 col-xs-12">
                            <h5 class="product-name"><%= product.name %></h5>
                            <p class="location"><%= product.state.name %></p>
                          </div>
                          <div class="col-sm-3 col-xs-12 text-right">
                            <ul class="product-caption-rating pull-right">
                              <% for i in 1..5 %>
                                  <% if i <= product.rating %>
                                      <li class="rated"><i class="fa fa-star"></i></li>
                                  <% else %>
                                      <li class=""><i class="fa fa-star"></i></li>
                                  <% end %>
                              <% end %>
                            </ul>
                          </div>
                          <div class="col-xs-12">
                            <p class="description"><%= product.description %></p>
                            <p>₹ <%= product.per_hour_price > 0 ?  "#{product.per_hour_price}/Hour " : ( product.per_day_price > 0 ?  "#{product.per_day_price}/Day" : ( product.per_week_price > 0 ? "#{product.per_week_price}/Week" : ( product.per_month_price > 0 ?  "#{product.per_month_price}/Month" : 0 ))) %></p>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
              <% end %>
          <% end %>

          <% if @results[:services].any? %>
              <!--<h3>Service:</h3>-->
              <% @results[:services].each do |service| %>
                  <div class="search_items">
                    <div class="col-md-2 col-sm-3 col-xs-12 text-center">
                      <% if service.service_images.any? %>
                          <%= image_tag service.service_images.first.image.url(ServiceImage::DEFAULT_SIZE), class: 'img-responsive product-img-primary' %>
                      <% else %>
                          <%= image_tag 'theme_img/500x500.png', class: 'img-responsive', alt: '' %>
                      <% end %>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                      <a class="read-more-link" href="<%= service_path(service)%>">
                        <div class="row">
                          <div class="col-sm-9 col-xs-12">
                            <h5 class="product-name"><%= service.service_description %></h5>
                            <p class="location"><%= service.state.name %></p>
                          </div>
                          <div class="col-sm-3 col-xs-12 text-right">
                            <ul class="product-caption-rating pull-right">
                              <% for i in 1..5 %>
                                  <% if i <= service.rating %>
                                      <li class="rated"><i class="fa fa-star"></i></li>
                                  <% else %>
                                      <li class=""><i class="fa fa-star"></i></li>
                                  <% end %>
                              <% end %>
                            </ul>
                          </div>
                          <div class="col-xs-12">
                            <p class="description"><%= service.service_description %></p>
                            <p>₹ <%= service.per_hour_price > 0 ?  "#{service.per_hour_price}/Hour " : ( service.per_day_price > 0 ?  "#{service.per_day_price}/Day" : ( service.per_week_price > 0 ? "#{service.per_week_price}/Week" : ( service.per_month_price > 0 ?  "#{service.per_month_price}/Month" : 0 ))) %></p>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
              <% end %>
          <% end %>
      <% else %>
          <div class="gap"></div>
          <h2 class="text-center">No Result Found</h2>
      <% end %>

      <%# if @results[:advertisements].any? %>
          <!--<h3>Advertisement:</h3>-->
          <!--<%# @results[:advertisements].each do |advertisement| %>-->
              <!--<div class="search_items">-->
                <!--<div class="col-md-2 col-sm-3 col-xs-12 text-center">-->
                  <!--<%# if advertisement.advertisement_images.any? %>-->
                      <!--<%#= image_tag advertisement.advertisement_images.first.image.url(AdvertisementImage::DEFAULT_SIZE), class: 'img-responsive product-img-primary' %>-->
                  <!--<%# else %>-->
                      <!--<%#= image_tag 'theme_img/100x100.png', class: 'img-responsive', alt: '' %>-->
                  <!--<%# end %>-->
                <!--</div>-->
                <!--<div class="col-md-10 col-sm-9 col-xs-12">-->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-8 col-xs-12">-->
                      <!--<h5 class="product-name"><%#= advertisement.title %></h5>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 text-right">-->
                      <!--<p class="category-name">-->
                        <!--<a href="<%#=category_path(advertisement.subcategory.category)%>"><%#=advertisement.subcategory.category.name%></a> >-->
                        <!--<a href="<%#=subcategory_path(advertisement.subcategory)%>"><%#=advertisement.subcategory.name%></a>-->
                      <!--</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<p class="description"><%#= advertisement.description %></p>-->
                      <!--&lt;!&ndash;<a class="read-more-link" href="#">View detail</a>&ndash;&gt;-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->
          <%# end %>
      <%# end %>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
        $('.custome-filter-block .set-min-price').val("<%= params[:min_price].present? ?  params[:min_price] : @min_price %>")
        $('.custome-filter-block .set-max-price').val("<%= params[:max_price].present? ?  params[:max_price] : @max_price %>")
        $('.custome-filter-block .set-quantity').val("<%= params[:quantity].present? ?  params[:quantity] : 0 %>")
        $('.custome-filter-block .set-rating').val("<%= params[:rating].present? ?  params[:rating] : 0 %>")

        var selected_category_id = $('.filter_category').val();
        var selected_subcategory_id = $('.filter_subcategory').val();
        var selected_state_id = $('.filter_state').val();
        var selected_city_id = $('.filter_city').val();


        $.get("/get_subcategories/"+ selected_category_id +".json", function(data, status){
            var appendString = '<option value="">Select Category</option>';
            for(var i=0; i < data.length;i++){
                appendString +="<option value="+data[i].id+">" + data[i].name + "</option>";
            }
            $('.filter_subcategory').html(appendString);
            $('.filter_subcategory').val(selected_subcategory_id);
        });

        $.get("/cities/collection_by_state/"+selected_state_id+".json", function(data, status){
            var appendString = '<option value="">Select city</option>';
            for(var i=0; i < data.length;i++){
                appendString +="<option value="+data[i].id+">" + data[i].name + "</option>";
            }
            $('.filter_city').html(appendString);
            $('.filter_city').val(selected_city_id);
        });

        $('.custome-filter-block .set-category').change(function(){

            var selected_category_id = this.value;

            $.get("/get_subcategories/"+ selected_category_id +".json", function(data, status){
                var appendString = '<option value="">Select Subcategory</option>';
                for(var i=0; i < data.length;i++){
                    appendString +="<option value="+data[i].id+">" + data[i].name + "</option>";
                }
                $('.filter_subcategory').html(appendString);
            });

        });

        if($('.filter_state option').val() == ''){
            $('.filter_city').prop("disabled", true)
        }
        $(".custome-filter-block .set-state").change(function() {
            var selected_state_id = this.value;
            $.get("/cities/collection_by_state/"+selected_state_id+".json", function(data, status){
                var appendString = '<option value="">Select city</option>';
                for(var i=0; i < data.length;i++){
                    appendString +="<option value="+data[i].id+">" + data[i].name + "</option>";
                }
                $('.filter_city').html(appendString);


            });
            if(selected_state_id >0)
            {
                $('.filter_city').prop("disabled", false);
            }
            else
            {
                $('.filter_city').prop("disabled", true)
            }
        });

        $('.reset-filter').click(function(){
            window.location.href = location.pathname
        });

//        var get_text_length = this.getAttribute('dyn_text');
//        var description_txt = $('.description_' + get_text_length).text();
//        debugger
//        if (description_txt.length > 5){
//            $('.description_' + get_text_length).text(description_txt.substring(0,2) + '...');
//        }
    });

</script>