<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li>
        <%= link_to 'Add Category', new_admin_category_path, class: 'btn btn-primary' %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Name</th>
        <th>Icon image</th>
        <th>Detail image</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= image_tag category.icon_image.url(:original), style: 'height:25px; width:25px;' if category.icon_image.present? %></td>
            <td><%= image_tag category.detail_image.url(:original), style: 'height:25px; width:25px;' if category.detail_image.present? %></td>
            <td>
              <%= link_to edit_admin_category_path(category) do %>
                  <i class="fa fa-edit"></i>
              <%- end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>
