<div class="">
  <header class="page-header">
    <h1 class="page-title"><%= @product.name.capitalize %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="#"><%= @product.subcategory.category.name %></a></li>
      <li><a href="#"><%= @product.subcategory.name %></a></li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
            <% if @product.product_images.any? %>
                <ul class="jqzoom-list">
                  <% @product.product_images.each_with_index do |product_image, index| %>
                      <li>
                        <a class="<%= index == 0 ? 'zoomThumbActive' : '' %>" href="javascript:void(0)" data-rel=<%="{gallery:'gal-1',smallimage:'#{product_image.image(:size_500x500)}',largeimage:'#{product_image.image(:original)}'}" %>>
                          <%= image_tag product_image.image(:size_500x500), class: 'img-responsive' %>
                        </a>
                        <%= link_to('remove', admin_product_product_image_path(@product, product_image), method: :delete, confirm: "Are you sure ?")%>
                      </li>
                  <% end %>
                </ul>
            <% else %>
                <%= image_tag 'theme_img/500x500.png', class: 'img-responsive' %>
            <% end %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
      <div class="row" data-gutter="10">
        <div class="col-md-8">
          <div class="box">
            <!--<ul class="product-page-product-rating">-->
              <!--<li class="rated"><i class="fa fa-star"></i></li>-->
              <!--<li class="rated"><i class="fa fa-star"></i></li>-->
              <!--<li class="rated"><i class="fa fa-star"></i></li>-->
              <!--<li class="rated"><i class="fa fa-star"></i></li>-->
              <!--<li class="rated"><i class="fa fa-star"></i></li>-->
            <!--</ul>-->
            <!--<p class="product-page-product-rating-sign"><a href="#">238 customer reviews</a></p>-->
            <p class="product-page-desc"><%= @product.description %></p>
            <table
            class="table table-striped product-page-features-table">
              <tbody>
              <!--<tr>-->
                <!--<td>Rent: <%#= @product.rent %></td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Price: <%#= @product.price_in_rupees %></td>-->
              <!--</tr>-->

              <tr>
                <td>Per Hour Price: <%= @product.per_hour_price %></td>
              </tr>
              <tr>
                <td>Per Day Price: <%= @product.per_day_price %></td>
              </tr>
              <tr>
                <td>Per Week Price: <%= @product.per_week_price %></td>
              </tr>
              <tr>
                <td>Per Month Price: <%= @product.per_month_price %></td>
              </tr>
              <tr>
                <td>State: <%= @product.state.name %></td>
              </tr>
              <tr>
                <td>City: <%= @product.city.name %></td>
              </tr>
              <tr>
                <td>Location: <%= @product.location %></td>
              </tr>
              <tr>
                <td>Start from: <%= @product.start_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>End from: <%= @product.end_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>Quantity: <%= @product.quantity %></td>
              </tr>
              <tr>
                <td>Refundable security: <%= @product.refundable_security %></td>
              </tr>
              <tr>
                <td>Cost of replacement: <%= @product.cost_of_replacement %></td>
              </tr>
              <tr>
                <td>Youtube: <%= @product.youtube_link %></td>
              </tr>
              <tr>
                <td><%= @product.technical_specification %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <%= form_tag update_rating_admin_product_path(@product), method: :put do %>
              <%= select_tag :rating, options_for_select([1,2,3,4,5],  @product.rating), class: 'form-control'%>
              <%= submit_tag 'Save', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
