<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1" style="">Hi <%= @product.user.name %>,</p>
            <br>
            <p>
              Congratulations!!!
            </p>
            <br>
            <p>
              The DEAL for the enquiry made on Ad Product#<%=@product.id%> & <%= @product.description %> dated: <%= @confirmed_enquiry.start_at.strftime(time_format)%> to <%= @confirmed_enquiry.end_at.strftime(time_format)%>.has been confirmed by the Renter. DEAL details are as:
            </p>
            <br>
            <p>
              Ad ID: Product#<%=@product.id%>
            </p>
            <br>
            <p>
              Product Name: <%= @product.name %>
            </p>
            <br>
            <p>
              Description: <%= @product.description %>
            </p>
            <br>
            <p>
              Product required for duration: <%= @confirmed_enquiry.start_at.strftime(time_format)%> to <%= @confirmed_enquiry.end_at.strftime(time_format)%>
            </p>
            <br>
            <p>
              <%= "Final Per Hour Price: #{@confirmed_enquiry.expected_per_hour_price}" if @confirmed_enquiry.expected_per_hour_price > 0 %>
            </p>
            <p>
              <%= "Final Per Day Price: #{@confirmed_enquiry.expected_per_day_price}" if @confirmed_enquiry.expected_per_day_price > 0 %>
            </p>
            <p>
              <%= "Final Per Week Price: #{@confirmed_enquiry.expected_per_week_price}" if @confirmed_enquiry.expected_per_week_price > 0 %>
            </p>
            <p>
              <%= "Final Per Month Price: #{@confirmed_enquiry.expected_per_month_price}" if @confirmed_enquiry.expected_per_month_price > 0 %>
            </p>
            <br>
            <p>
              Renter details are as under for further communication:
            </p>
            <br>
            <p>Name: <%= @confirmed_enquiry.user.name %></p>
            <br>
            <p>Email Address: <%= @confirmed_enquiry.user.email %></p>
            <br>
            <p>
              Mobile No.: <%= @confirmed_enquiry.user.contact %>
            </p>
            <br>
            <p>
              ________________________________________________________(OWNER) Full Name/Company Name, Company Number/ and/or Company Representative:
            </p>
            <br>
            <p>

            </p>
            <br>
            <p>
              Address:...........................................................................................................................................................................
              AND ________________________________________________________(RENTER) Full Name/Company Name, Company Number/ and/or Company Representative:
            </p>
            <br>
            <p>
              Address:...........................................................................................................................................................................
              Driver’s Licence or Passport Number (if applicable):...........................................
            </p>
            <br>
            <p>
              <b>THE PARTIES AGREE TO THE FOLLOWING:</b>
            </p>
            <p>
              The above parties made contact with each other using the website “ByeBuying”, owned by the company High Tide Infotech Pvt. Ltd (HTI) . HTI, however, is not a party to this contract, either explicitly, or implicitly, and does not provide any services directly or indirectly through this agreement. HTI does not verify the credentials of the Owners, the Renters, or the quality of the Items for Rent. Therefore, the parties to this agreement accept that they cannot hold HTI liable, either directly or indirectly, to any loss resulting from making and/or carrying out this agreement.
            </p>
            <br>
            <p>
              <b>Article 1. Definitions</b>
            </p>
            <p>
              “Owner”: Owner or lawful custodian of the Item being rented.<br>
              “Renter”: The Party who is renting the tem pursuant to this contract.<br>
              “Item”: The Item rented out as described in articles 2 and 3. <br>
            </p>
            <br>
            <p>
              <b>Article 2. Item</b>
            </p>
            <p>
              The Owner rents out to the Renter who accepts the following Item: <br>
              ..........................................................................................................................................................................................
              Additional Information about the Item (age, Brand, serial number, type, special characteristics, estimated value of the item, etc.):
              .......................................................................................................................................................................................... .......................................................................................................................................................................................... ..........................................................................................................................................................................................
            </p>
            <br>
            <p>
              <b>Article 3. Condition of the Item</b>
            </p>
            <p>
              External appearance, condition of components, operation of the Item as well as any following guarantees given between the parties (e.g : “I confirm that a month ago I replaced the timing belt of this car"):
              .......................................................................................................................................................................................... .......................................................................................................................................................................................... ..........................................................................................................................................................................................
              ..........................................................................................................................................................................................
              In the event that guarantees that are provided, turn out to be inaccurate, the Owner forfeits the right to invoke those clauses relating to damage that the Renter has caused to the Item rented, unless the damage in question has no direct link to the inaccuracy of the Owner’s statements.
            </p>
            <br>
            <p>
              <b>Article 4. Intention– Lending – Sub-letting</b>
            </p>
            <p>
              The Renter can neither lend nor sub-let the Item without the Owner’s express written authorization.
              The Renter agrees not to use the Item for any illegal purposes or in a manner that is contrary to its intended use, or moral and social standards.
            </p>
            <br>
            <p>
              <b>Article 5. Duration of Rental</b>
            </p>
            <p>
              This rental contract is agreed upon a length of .................................................................. day/week/month(s)
              This period starts on the..................................................................at........................ a.m./p.m. And ends on the.................................................................. at..............................a.m./p.m.
            </p>
            <br>
            <p>
              <b>Article 6. Cost for Rental</b>
            </p>
            <p>
              For this complete rental contract duration, the Renter pays the Owner a sum of .................................................................. (this price includes any applicable taxes), of which has to be deducted the amount of .................................................................. corresponding to the retainer.
            </p>
            <br>
            <p>
              The cost of rental per hour/day/week/month is ..................................................................
              This sum is payable upon signing of this contract, and must be paid, at the latest, by the beginning of the rental period.
            </p>
            <br>
            <p>
              At the end of the contract, in the event that the Item is returned late, the Renter shall pay the Owner a further sum equivalent to 10% of the total cost of the rental, plus the per day cost of renting the Item, for each additional day until the Item is returned.
            </p>
            <br>
            <p>
              The rental cost of the Item includes any applicable transport fees, if any.
            </p>
            <br>
            <p>
              <b>Article 7. Security Deposit</b>
            </p>
            <p>
              At the start of the rental period, the Renter agrees to pay the Owner a security deposit of: Rs-..................
              Rupees..................................................................................................................................................................
              (Write this sum in both letters and figures.) This deposit guarantee will be reimbursed in full upon return of the Item to the Owner, deductions may be made as determined by their usual prices listed above – and deductions made if Article 8 applies in relation to possible damage incurred.
            </p>
            <br>
            <p>
              <b>Article 8. Maintenance, Damage and Theft</b>
            </p>
            <p>
            <ol>
              <li>The Renter will use, maintain and take care of the Item in a careful and responsible manner.</li>
              <li>The Renter will be held liable for any damages he/she causes to the rented Item. His/her liability will not exceed the potential residual value of the Item, as defined in good faith or contractually.</li>
              <li>In the event of the Renter not returning the rented Item, he/she will be liable to pay the Owner the residual value of the Item as contractually defined in Article 2. In order to cover some of the repossession costs, an increase in the overall payment equal to 10% of the rental (excluding tax) is required, as well as late payment interest at the legal rate, taking effect 30 days after the Owner has given formal notice. In the event that the Owner defaults upon his obligations, the Renter is authorised to claim similar compensation.</li>
              <li>In the event that the Renter returns the Item in a bad and/or poorly maintained condition (which cannot be described as the result normal rental use), requiring special cleaning or attention (e.g. dry cleaning of an item of clothing), the Renter will be liable to pay the cost of cleaning or potential maintenance carried out by a professional specialist. This service provider will be chosen by the Renter within a period of 10 working days, or, if need be, after formal notice is given by the Owner.</li>
            </ol>
            </p>
            <br>
            <p>
              <b>Article 9. Liability</b>
            </p>
            <p>
              The Renter states that he/she has, and is presumed to have, all the information and skills necessary for careful and normal use of the rented Item; it is his/her responsibility to supplement his/her knowledge if necessary. Similarly, he/she states that he/she has the authorisation, licences and legal capacity to have or use the Item. The Renter is the sole custodian of the Item during the Rental Contract, he/she undertakes as such to exercise effective and exclusive control of the Item.
              <br>
              The Renter is therefore the sole person responsible, apart from the Owner, for any damage that the Item could cause to the Renter or a third party.
              <br>
              The Renter expressly recognises that he/she is the custodian of the Item rented for the full duration of the contract and, should the case arise, beyond this time, until the return of the Item to the Owner is accomplished Consequently, the Owner assumes no liability during the rental period for the Item rented, in particular regarding its incorrect, imprudent or illegal use.
            </p>
            <br>
            <p>
              <b>Article 10. Juridical Assignment</b>
            </p>
            <p>
              In the event of litigation, the court at ..................................................................... will jurisdiction and venue.
              Article 11. Additional Provisions and Comments
              .......................................................................................................................................................................................... .......................................................................................................................................................................................... ..........................................................................................................................................................................................
              Contract made at ........................... in two copies and each parties shall retain one original copy.
            </p>
            <br>
            <p>
              Date: ...........................
            </p>
            <br>
            <p style="width: 48%; float: left;">
              The Renter <br> <br>
              .........................................................
            </p>
            <p style="width: 48%; float: right;">
              The Owner <br> <br>
              .........................................................
            </p>
            <br>
            <p>
              Please note that your details have also been shared with Renter and Renter may contact you for any further query.
            </p>
            <br>
            <br>
            <p>
              Regards,<br>
              ByeBuyingTeam
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
