<div class="row">
  <div class="col-sm-12">
    <strong>Title:</strong> <%= @advertisement.title%>
  </div>
  <div class="col-sm-12"><strong>Description:</strong> <%= @advertisement.description%></div>
  <div class="col-sm-12"><strong>Category:</strong> <%= @advertisement.subcategory.category.name %></div>
  <div class="col-sm-12"><strong>Subcategory:</strong> <%= @advertisement.subcategory.name %></div>
  <div class="col-sm-12"><strong>Per hour cost:</strong> <%= @advertisement.per_hour_cost %></div>
  <div class="col-sm-12"><strong>Start at:</strong> <%= @advertisement.start_at.strftime(time_format)%></div>
  <div class="col-sm-12"><strong>End at:</strong> <%= @advertisement.end_at.strftime(time_format)%></div>
</div>