<div class="container">
  <header class="page-header">
    <h1 class="page-title"><%= @product.name.capitalize %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="<%= category_path(@product.subcategory.category)%>"><%= @product.subcategory.category.name %></a></li>
      <li><a href="<%= subcategory_path(@product.subcategory)%>"><%= @product.subcategory.name %></a></li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-5 col-sm-4 col-xs-12">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <% if @product.product_images.any? %>
              <a href="<%= @product.product_images.first.image(:original) %>" id="jqzoom" data-rel="gal-1">
                <%= image_tag @product.product_images.first.image(:size_500x500), class: 'img-responsive' %>
              </a>

              <!--<%# @product.product_images.each_with_index do |product_image, index| %>-->

                    <!--<a href="<%#= product_image.image(:size_500x500) %>" id="jqzoom" data-rel="gal-1">-->
                      <!--<%#= image_tag product_image.image(:size_500x500), class: 'img-responsive' %>-->
                    <!--</a>-->

              <!--<%# end %>-->
          <% else %>
              <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
              </a>
          <% end %>
        </div>
      </div>
      <% if @product.product_images.any? %>
          <ul class="jqzoom-list">
            <% @product.product_images.each_with_index do |product_image, index| %>
                <li>
                  <a class="<%= index == 0 ? 'zoomThumbActive' : '' %>" href="javascript:void(0)" data-rel=<%="{gallery:'gal-1',smallimage:'#{product_image.image(:size_500x500)}',largeimage:'#{product_image.image(:original)}'}" %>>
                    <%= image_tag product_image.image(:size_500x500), class: 'img-responsive' %>
                  </a>
                </li>
            <% end %>
          </ul>
      <% else %>
      <!-- DO Nothing-->
      <% end %>
    </div>
    <div class="col-md-7 col-sm-8 col-xs-12">
      <div class="row" data-gutter="10">
        <div class="col-md-4 col-sm-4 col-xs-12 pull-sm-right">
          <div class="box-highlight">
            <!--<p class="product-page-price-list"><%#= @product.price_in_rupees %></p>-->
            <p class="product-page-price time-price">
              <% if @product.per_hour_price > 0 %>
                  ₹ <%= @product.per_hour_price %>/ <span class="pull-right">hr</span>
              <% end %>
            </p>
            <p class="product-page-price time-price">
              <% if @product.per_day_price > 0 %>
                  ₹<%= @product.per_day_price %>/ <span class="pull-right">day</span>
              <% end %>
            </p>
            <p class="product-page-price time-price">
              <% if @product.per_week_price > 0 %>
                  ₹<%= @product.per_week_price %>/ <span class="pull-right">week</span>
              <% end %>
            </p>
            <p class="product-page-price time-price">
              <% if @product.per_month_price > 0 %>
                  ₹<%= @product.per_month_price %>/ <span class="pull-right">month</span>
              <% end %>
            </p>

            <p class="product-page-price time-price">
              <% if  @product.per_hour_price < 1 and  @product.per_day_price < 1 and  @product.per_week_price < 1 and @product.per_month_price < 1 %>
                  ₹ 0
              <% end %>
            </p>
            <!--<p class="product-page-price time-price">₹ <%#= @product.per_hour_price > 0 ?  "#{@product.per_hour_price}/Hour " : ( @product.per_day_price > 0 ?  "#{@product.per_day_price}/Day" : ( @product.per_week_price > 0 ? "#{@product.per_week_price}/Week" : ( @product.per_month_price > 0 ?  "#{@product.per_month_price}/Month" : 0 ))) %></p>-->
            <% if current_user.present? %>
                <% if current_user.id == @product.user.id %>
                    <a class="btn btn-block btn-success" style="margin-top: 10px" href="javascript:void(0);" %>Your Product</a>
                <% else %>
                    <a class="btn btn-block btn-primary" style="margin: 10px 0" href="<%= new_product_enquiry_path(@product) %>">Enquire</a>
                    <div class="add-wishlist-con">
                      <%= link_to 'Add to wishlist', wish_list_user_path(current_user, is_product: true, wish_id: @product.id), method: :put , class: 'btn btn-block btn-primary', style: 'z-index: 1;' unless current_user.wish_list.detect{|i| i == "1-#{@product.id}"}.present?%>
                      <lable class="btn btn-primary gray-color-btn">Added to Wishlist</lable>
                    </div>
                <% end %>
            <% else %>
                <a class="btn btn-block btn-primary popup-text" style="margin-top: 10px" data-effect="mfp-move-from-top" href="#nav-login-dialog">Enquire</a>
            <% end %>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Share This Item</h5>
              <% if @product.product_images.any? %>
                  <%= social_share_button_tag(@product.name, image: "#{root_path}#{@product.product_images.first.image(:size_500x500)}") %>
              <% else %>
                  <%= social_share_button_tag(@product.name, image: 'theme_img/500x500.png') %>
              <% end %>

              <!--<ul class="product-page-share-item">-->
              <!--<li>-->
              <!--<a class="fa fa-facebook" href="#"></a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="fa fa-twitter" href="#"></a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="fa fa-pinterest" href="#"></a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="fa fa-instagram" href="#"></a>-->
              <!--</li>-->
              <!--<li>-->
              <!--<a class="fa fa-google-plus" href="#"></a>-->
              <!--</li>-->
              <!--</ul>-->
            </div>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Shipping & Returns</h5>
              <p class="product-page-side-text">In the store of your choice in 3-5 working days</p>
              <p class="product-page-side-text">STANDARD 4.95 USD FREE (ORDERS OVER 50 USD) In 2-4 working days*</p>
              <p class="product-page-side-text">EXPRESS 9.95 USD In 24-48 hours (working days)*</p>
              <p class="product-page-side-text">* Except remote areas</p>
              <p class="product-page-side-text">You have one month from the shipping confirmation email.</p>
            </div>
          </div>
          <%= link_to 'View all Post of this seller', all_user_path(@product.user_id), class: 'btn seller_post_button btn-primary' %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 pull-sm-left">
          <div class="box">
            <ul class="product-page-product-rating">
              <% for i in 1..5 %>
                  <% if i <= @product.rating %>
                      <li class="rated"><i class="fa fa-star"></i></li>
                  <% else %>
                      <li class=""><i class="fa fa-star"></i></li>
                  <% end %>
              <% end %>
            </ul>
            <p class="product-page-desc"><%= @product.description %></p>
            <table class="table table-striped product-page-features-table">
              <tbody>
              <tr>
                <td><%= @product.technical_specification.present? ? @product.technical_specification : 'NA' %></td>
              </tr>
              <tr>
                <td>State: <%= @product.state.name.present? ? @product.state.name : 'NA' %></td>
              </tr>
              <tr>
                <td>City: <%= @product.city.name.present? ? @product.city.name : 'NA' %></td>
              </tr>
              <tr>
                <td>Location: <%= @product.location.present? ? @product.location : 'NA'  %></td>
              </tr>
              <tr>
                <td>Start from: <%= @product.start_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>End from: <%= @product.end_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>Quantity: <%= @product.quantity.present? ? @product.quantity : 'NA' %></td>
              </tr>
              <!--<tr>-->
              <!--<td>Rent: <%#= @product.rent %></td>-->
              <!--</tr>-->
              <tr>
                <td>Refundable security: <%= @product.refundable_security.present? ? @product.refundable_security : 'NA' %></td>
              </tr>
              <tr>
                <td>Cost of replacement: <%= @product.cost_of_replacement.present? ? @product.cost_of_replacement : 'NA' %></td>
              </tr>
              <tr>
                <td>Youtube:
                  <%if @product.youtube_link.present? %>
                      <a href="<%= @product.youtube_link %>" target="_blank">
                        <%= @product.youtube_link %>
                      </a>
                  <% else %>
                    NA
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Other: <%= @product.other.present? ? @product.other : 'NA' %></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
<!--<div class="container">-->
  <!--<div class="tabbable product-tabs">-->
    <!--<ul class="nav nav-tabs" id="myTab">-->
      <!--<li class="active"><a href="#tab-1" data-toggle="tab">Description</a>-->
      <!--</li>-->
      <!--<li><a href="#tab-2" data-toggle="tab">Additional Information</a>-->
      <!--</li>-->
      <!--<li><a href="#tab-3" data-toggle="tab">Rating and Reviews</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="tab-content">-->
      <!--<div class="tab-pane fade in active" id="tab-1">-->
        <!--<p>Imperdiet fusce viverra mollis taciti lectus scelerisque augue quisque felis posuere nulla facilisis scelerisque pharetra quisque dignissim elit diam nisi penatibus magnis dapibus pretium lacinia torquent convallis egestas posuere-->
          <!--etiam</p>-->
        <!--<p>Aliquam posuere duis a fringilla enim dictum tortor accumsan litora</p>-->
      <!--</div>-->
      <!--<div class="tab-pane fade" id="tab-2">-->
        <!--<table class="table">-->
          <!--<tbody>-->
          <!--<tr>-->
            <!--<td>Weight:</td>-->
            <!--<td>0.3 kg</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Dimensions:</td>-->
            <!--<td>20 ½" W x 12" H x 10 ¾" D with 9" strap drop and 52" removable, adjustable strap</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Materials :</td>-->
            <!--<td>100% Cotton</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Care Tips:</td>-->
            <!--<td>Machine wash cold, gentle cycle, only non-chlorine bleach when needed; line dry</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
      <!--<div class="tab-pane fade" id="tab-3">-->
        <!--<div class="row">-->
          <!--<div class="col-md-8">-->
            <!--<article class="product-review">-->
              <!--<div class="product-review-author">-->
                <!--<%#= image_tag 'theme_img/70x70.png', alt: '' %>-->
              <!--</div>-->
              <!--<div class="product-review-content-full">-->
                <!--<h5 class="product-review-title">Terrific Buy!</h5>-->
                <!--<ul class="product-page-product-rating">-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<p class="product-review-meta">by Alison Mackenzie on 08/14/2015</p>-->
                <!--<p class="product-review-body">Aliquam nam gravida hendrerit primis class egestas primis porta egestas non eleifend risus turpis commodo nisi felis nullam risus aliquam curae fusce elit est ornare</p>-->
                <!--<p class="text-success"><strong><i class="fa fa-check"></i> I would recommend this to a friend!</strong>-->
                <!--</p>-->
                <!--<ul class="list-inline product-review-actions">-->
                  <!--<li><a href="#"><i class="fa fa-flag"></i> Flag this review</a>-->
                  <!--</li>-->
                  <!--<li><a href="#"><i class="fa fa-comment"></i> Comment review</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</article>-->
            <!--<article class="product-review">-->
              <!--<div class="product-review-author">-->
                <!--<%#= image_tag 'theme_img/70x70.png', alt: '' %>-->
              <!--</div>-->
              <!--<div class="product-review-content-full">-->
                <!--<h5 class="product-review-title">Too Big. Unusable.</h5>-->
                <!--<ul class="product-page-product-rating">-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li><i class="fa fa-star"></i>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<p class="product-review-meta">by Keith Churchill on 08/14/2015</p>-->
                <!--<p class="product-review-body">Lacus molestie aptent elementum nascetur a blandit aenean fusce eleifend hendrerit ac fringilla vehicula eget odio orci hac mauris tincidunt tellus</p>-->
                <!--<p class="text-danger"><strong><i class="fa fa-close"></i> No, I would not recommend this to a friend.</strong>-->
                <!--</p>-->
                <!--<ul class="list-inline product-review-actions">-->
                  <!--<li><a href="#"><i class="fa fa-flag"></i> Flag this review</a>-->
                  <!--</li>-->
                  <!--<li><a href="#"><i class="fa fa-comment"></i> Comment review</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</article>-->
            <!--<article class="product-review">-->
              <!--<div class="product-review-author">-->
                <!--<%#= image_tag 'theme_img/70x70.png', alt: '' %>-->
              <!--</div>-->
              <!--<div class="product-review-content-full">-->
                <!--<h5 class="product-review-title">Worth it</h5>-->
                <!--<ul class="product-page-product-rating">-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                  <!--<li class="rated"><i class="fa fa-star"></i>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<p class="product-review-meta">by Alison Mackenzie on 08/14/2015</p>-->
                <!--<p class="product-review-body">Imperdiet maecenas suspendisse diam lorem nisi quis elit augue mus interdum porttitor ante</p>-->
                <!--<p class="text-success"><strong><i class="fa fa-check"></i> I would recommend this to a friend!</strong>-->
                <!--</p>-->
                <!--<ul class="list-inline product-review-actions">-->
                  <!--<li><a href="#"><i class="fa fa-flag"></i> Flag this review</a>-->
                  <!--</li>-->
                  <!--<li><a href="#"><i class="fa fa-comment"></i> Comment review</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</article>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<h3 class="product-tab-rating-title">Overall Customer Rating:</h3>-->
            <!--<ul class="product-page-product-rating product-rating-big">-->
              <!--<li class="rated"><i class="fa fa-star"></i>-->
              <!--</li>-->
              <!--<li class="rated"><i class="fa fa-star"></i>-->
              <!--</li>-->
              <!--<li class="rated"><i class="fa fa-star"></i>-->
              <!--</li>-->
              <!--<li class="rated"><i class="fa fa-star"></i>-->
              <!--</li>-->
              <!--<li class="rated"><i class="fa fa-star"></i>-->
              <!--</li>-->
              <!--<li class="count">4.9</li>-->
            <!--</ul><small>238 customer reviews</small>-->
            <!--<p><strong>98%</strong> of reviewers would recommend this product</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<p class="category-pagination-sign">238 customer reviews found. Showing 1 - 5</p>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<nav>-->
              <!--<ul class="pagination category-pagination pull-right">-->
                <!--<li class="active"><a href="#">1</a>-->
                <!--</li>-->
                <!--<li><a href="#">2</a>-->
                <!--</li>-->
                <!--<li><a href="#">3</a>-->
                <!--</li>-->
                <!--<li><a href="#">4</a>-->
                <!--</li>-->
                <!--<li><a href="#">5</a>-->
                <!--</li>-->
                <!--<li class="last"><a href="#"><i class="fa fa-long-arrow-right"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</nav>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="gap"></div>-->