<div class="container">
  <header class="page-header">
    <h1 class="page-title"><%= @product.name.capitalize %></h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="<%= category_path(@product.subcategory.category)%>"><%= @product.subcategory.category.name %></a></li>
      <li><a href="<%= subcategory_path(@product.subcategory)%>"><%= @product.subcategory.name %></a></li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-5 col-sm-4 col-xs-12">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <% if @product.product_images.any? %>
              <a href="<%= @product.product_images.first.image(:size_500x500) %>" id="jqzoom" data-rel="gal-1">
                <%= image_tag @product.product_images.first.image(:size_500x500), class: 'img-responsive' %>
              </a>
          <% else %>
              <a href="../../../assets/theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
              </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-8 col-xs-12">
      <div class="row" data-gutter="10">
        <div class="col-md-4 col-sm-4 col-xs-12 pull-sm-right">
          <div class="box-highlight">
            <!--<p class="product-page-price-list"><%#= @product.price_in_rupees %></p>-->
            <p class="product-page-price time-price">₹<%= @product.per_hour_price %>/hr</p>
            <p class="product-page-price time-price">₹<%= @product.per_day_price %>/day</p>
            <p class="product-page-price time-price">₹<%= @product.per_week_price %>/week</p>
            <p class="product-page-price time-price">₹<%= @product.per_month_price %>/month</p>
            <% if current_user.present? %>
                <a class="btn btn-block btn-primary" style="margin-top: 10px" href="<%= new_product_enquiry_path(@product) %>">Enquire</a>
            <% else %>
                <a class="btn btn-block btn-primary popup-text" style="margin-top: 10px" data-effect="mfp-move-from-top" href="#nav-login-dialog">Enquire</a>
            <% end %>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Share This Item</h5>
              <%= social_share_button_tag(@product.name) %>
              <!--<ul class="product-page-share-item">-->
                <!--<li>-->
                  <!--<a class="fa fa-facebook" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-twitter" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-pinterest" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-instagram" href="#"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a class="fa fa-google-plus" href="#"></a>-->
                <!--</li>-->
              <!--</ul>-->
            </div>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Shipping & Returns</h5>
              <p class="product-page-side-text">In the store of your choice in 3-5 working days</p>
              <p class="product-page-side-text">STANDARD 4.95 USD FREE (ORDERS OVER 50 USD) In 2-4 working days*</p>
              <p class="product-page-side-text">EXPRESS 9.95 USD In 24-48 hours (working days)*</p>
              <p class="product-page-side-text">* Except remote areas</p>
              <p class="product-page-side-text">You have one month from the shipping confirmation email.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 pull-sm-left">
          <div class="box">
            <ul class="product-page-product-rating">
              <% for i in 1..5 %>
                  <% if i <= @product.rating %>
                      <li class="rated"><i class="fa fa-star"></i></li>
                  <% else %>
                      <li class=""><i class="fa fa-star"></i></li>
                  <% end %>
              <% end %>
            </ul>
            <p class="product-page-desc"><%= @product.description %></p>
            <table class="table table-striped product-page-features-table">
              <tbody>
              <tr>
                <td><%= @product.technical_specification %></td>
              </tr>
              <tr>
                <td>State: <%= @product.state.name %></td>
              </tr>
              <tr>
                <td>City: <%= @product.city.name %></td>
              </tr>
              <tr>
                <td>Location: <%= @product.location %></td>
              </tr>
              <tr>
                <td>Start from: <%= @product.start_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>End from: <%= @product.end_at.strftime(time_format) %></td>
              </tr>
              <tr>
                <td>Quantity: <%= @product.quantity %></td>
              </tr>
              <!--<tr>-->
                <!--<td>Rent: <%#= @product.rent %></td>-->
              <!--</tr>-->
              <tr>
                <td>Refundable security: <%= @product.refundable_security %></td>
              </tr>
              <tr>
                <td>Cost of replacement: <%= @product.cost_of_replacement %></td>
              </tr>
              <tr>
                <td>Youtube: <%= @product.youtube_link %></td>
              </tr>
              <tr>
                <td>Other: <%= @product.other %></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
