<%# unless @service.present? %>
    <%#= simple_form_for [:product, @enquiry] do |f| %>
        <%#= f.input :start_at, label: 'Start Time of Product', default: @product.start_at  %>
        <%#= f.input :end_at, label: 'End Time of Product', default: @product.end_at %>

        <!-- Rent: --> <%#= @product.rent %>
        <!-- Price in rupees: --> <%#= @product.price_in_rupees %>

        <%#= f.input :expected_price %>
        <%#= f.submit 'Save', class: 'btn btn-default' %>
    <%# end %>

<%# else %>

    <%#= simple_form_for [:service, @enquiry] do |f| %>
        <%#= f.input :start_at, label: 'Start Time of Product', default: @service.start_at  %>
        <%#= f.input :end_at, label: 'End Time of Product', default: @service.end_at %>

        <!-- Rent: --> <%#= @service.rent %>
        <!-- Price in rupees: --> <%#= @service.price_in_rupees %>

        <%#= f.input :expected_price %>
        <%#= f.submit 'Save', class: 'btn btn-default' %>
    <%# end %>
<%# end %>


<div class="content-main-section">
  <div class="container">
    <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12">
      <h2 class="text-center">
      Enquiry for 
        <%= @product.name unless @service.present? %>
        <%= @service.service_description unless @product.present? %>
      </h2>
      <div class="row">
        <div class="col-md-12">
          <div class="contact-main-form">
            <% unless @service.present? %>
                <%= simple_form_for [:product, @enquiry] do |f| %>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :start_at, label: 'Start Time of Product ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Start Time of Product'}, default: @product.start_at, input_html: {class: 'select-field'}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :end_at, label: 'End Time of Product ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'End Time of Product'}, default: @product.end_at, input_html: {class: 'select-field'}  %>
                      </div>
                    </div>
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="rent" class="label">Per Hour Price</label>-->
                        <!--<p class="select-text"><%#= @product.per_hour_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="Price" class="label">Per Day Price</label>-->
                        <!--<p class="select-text"><%#= @product.per_day_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="rent" class="label">Per Week Price</label>-->
                        <!--<p class="select-text"><%#= @product.per_week_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="Price" class="label">Per Month Price</label>-->
                        <!--<p class="select-text"><%#= @product.per_month_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="rent" class="label">Rent</label>-->
                        <!--<p class="select-text"><%#= @product.rent %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="Price" class="label">Price in Rupees</label>-->
                        <!--<p class="select-text"><%#= @product.price_in_rupees %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_hour_price, label: 'Expected per hour price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per hour price'}, input_html: {class: 'text-field', value: @product.per_hour_price}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_day_price, label: 'Expected per day price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per day price'}, input_html: {class: 'text-field', value: @product.per_day_price}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_week_price, label: 'Expected per week price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per week price'}, input_html: {class: 'text-field', value: @product.per_week_price}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_month_price, label: 'Expected per month price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per month price'}, input_html: {class: 'text-field', value: @product.per_month_price}  %>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="submit-main">
                      <%= f.submit 'Save', class: 'pushbutton-wide s-button btn btn-primary' %>
                    </div>
                <% end %>
            <% else %>
                <%= simple_form_for [:service, @enquiry] do |f| %>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :start_at, label: 'Start Time of Product ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Start Time of Product'}, default: @service.start_at, input_html: {class: 'select-field'}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :end_at, label: 'End Time of Product ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'End Time of Product'}, default: @service.end_at, input_html: {class: 'select-field'}  %>
                      </div>
                    </div>
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="rent" class="label">Per Hour Price</label>-->
                        <!--<p class="select-text"><%#= @service.per_hour_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="Price" class="label">Per Day Price</label>-->
                        <!--<p class="select-text"><%#= @service.per_day_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="rent" class="label">Per Week Price</label>-->
                        <!--<p class="select-text"><%#= @service.per_week_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="Price" class="label">Per Month Price</label>-->
                        <!--<p class="select-text"><%#= @service.per_month_price %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="rent" class="label">Price Type</label>-->
                        <!--<p class="select-text"><%#= @service.price_type %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                      <!--<div class="field-con">-->
                        <!--<label for="Price" class="label">Price in Rupees</label>-->
                        <!--<p class="select-text"><%#= @service.price_in_rupees %></p>-->
                      <!--</div>-->
                    <!--</div>-->
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_hour_price, label: 'Expected per hour price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per hour price'}, input_html: {class: 'text-field', value: @service.per_hour_price}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_day_price, label: 'Expected per day price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per day price'}, input_html: {class: 'text-field', value: @service.per_day_price}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_week_price, label: 'Expected per week price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per week price'}, input_html: {class: 'text-field', value: @service.per_week_price}  %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="field-con">
                        <%= f.input :expected_per_month_price, label: 'Expected per month price ⓘ', label_html: {class: 'label', 'data-toggle': 'popover', 'data-placement': 'right' , title: 'Expected per week price'}, input_html: {class: 'text-field', value: @service.per_month_price}  %>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="submit-main">
                      <%= f.submit 'Enquire', class: 'pushbutton-wide s-button btn btn-primary' %>
                    </div>
                <% end %>
            <% end %>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('[data-toggle="popover"]').tooltip();
    });
</script>