<!DOCTYPE html>
<html>
<head>
  <title>ByeBuying | Customer</title>
  <!--<title>Barter | Customer</title>-->
  <%= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'customer', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84129879-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
<%= render partial: 'customer/shared/header' %>
<div class="container">
  <% if user_signed_in? and current_user.customer? %>
      <div class="row">
        <!--<div class="col-sm-2">-->
          <!--<%#= render partial: 'customer/shared/sidebar' %>-->
        <!--</div>-->
        <div class="col-xs-12">
          <%= render partial: 'customer/shared/alerts' %>
          <%= yield %>
        </div>
      </div>
  <%- else %>
      <%= render partial: 'customer/shared/alerts' %>
      <%= yield %>
  <%- end %>
</div>
<%= render partial: 'customer/shared/footer' %>


<%= javascript_include_tag 'vendors/theme/icheck' %>
<%= javascript_include_tag 'vendors/theme/ionrangeslider' %>
<%= javascript_include_tag 'vendors/theme/jqzoom' %>
<%= javascript_include_tag 'vendors/theme/card-payment' %>
<%= javascript_include_tag 'vendors/theme/owl-carousel' %>
<%= javascript_include_tag 'vendors/theme/magnific' %>
<%= javascript_include_tag 'vendors/theme/custom' %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        setTimeout(function(){
            if($('img').css('display') == "none") {
//                HERE YOU CREATE CUSTOM LOGIC
                alert('Please disable Ads Blocker.');
            }
        }, 500);
    });
</script>

</body>
</html>
