<!DOCTYPE html>
<html>
<head>
  <title>ByeBuying | Customer</title>
  <!--<title>Barter | Customer</title>-->
  <%= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'customer', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
</head>
<body>
<%= render partial: 'customer/shared/header' %>
<div class="container">
  <% if user_signed_in? and current_user.customer? %>
      <div class="row">
        <!--<div class="col-sm-2">-->
          <!--<%#= render partial: 'customer/shared/sidebar' %>-->
        <!--</div>-->
        <div class="col-xs-12">
          <%= render partial: 'customer/shared/alerts' %>
          <%= yield %>
        </div>
      </div>
  <%- else %>
      <%= render partial: 'customer/shared/alerts' %>
      <%= yield %>
  <%- end %>
</div>
<%= render partial: 'customer/shared/footer' %>
</body>
</html>
