<!DOCTYPE html>
<html>
<head>
  <title>ByeBuying</title>
  <!--<title>Barter</title>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<%= query_diet_widget if Rails.env.development? %>
<%= render partial: 'welcome/shared/header' %>
<%= yield %>
<%= render partial: 'welcome/shared/footer' %>

<%= javascript_include_tag 'vendors/theme/icheck' %>
<%= javascript_include_tag 'vendors/theme/ionrangeslider' %>
<%= javascript_include_tag 'vendors/theme/jqzoom' %>
<%= javascript_include_tag 'vendors/theme/card-payment' %>
<%= javascript_include_tag 'vendors/theme/owl-carousel' %>
<%= javascript_include_tag 'vendors/theme/magnific' %>
<%= javascript_include_tag 'vendors/theme/custom' %>
</body>
</html>
